<div role="navigation" aria-label="API Reference">
  <menu>
    <li>
      <%= link_to("Introduction", api_path(anchor: "api-intro")) %>
    </li>
    <li>
      <%= link_to("Authentication", api_path(anchor: "api-authentication")) %>
    </li>
    <li>
      <%= link_to("Scopes", api_path(anchor: "api-scopes")) %>
    </li>
    <li>
      <%= link_to("Errors", api_path(anchor: "api-errors")) %>
    </li>
    <li>
      <%= link_to("Methods", api_path(anchor: "api-methods")) %>
      <menu>
        <% GUMROAD_API_V2_METHODS.each do |method| %>
          <li>
            <%= link_to(method[:name], api_path(anchor: method[:name].gsub(" ", "-").downcase)) %>
          </li>
        <% end %>
      </menu>
    </li>
  </menu>
</div>
