<div>
  <p><%= Rinku.auto_link(@message.html_safe, :all, 'target="_blank" rel="nofollow"'.html_safe) %></p>
  <p>
    <strong>Product: </strong>
    <%= link_to @product.name, @product.long_url, target: "_blank" %>
    <br>

    <strong>New price: </strong>
    <%= @new_price %>
    <br>

    <strong>Previous price: </strong>
    <%= @previous_price %>
    <br>

    <strong>Next payment date: </strong>
    <%= @next_payment_date %>
    <br>

    <strong>Payment method: </strong>
    <%= @payment_method %>
    <br>
  </p>

  <%= link_to "Manage your subscription", @edit_card_url, class: "button primary", target: "_blank" %>
</div>

<%= render("customer_mailer/product_questions_footer", seller_name: @seller_name) %>
