<%= header_section("Your recurring charge failed.") %>
<div>
  <% if @subscription.is_installment_plan %>
    <p>We attempted to charge your card for your installment payment for <%= @subscription.link.name %>, but were unable to.</p>
    <p>If a charge to your credit card is not successful within 5 days, your installment plan for <%= @subscription.link.name %> will be canceled.</p>
  <% else %>
    <p>We attempted to charge your card for your subscription to <%= @subscription.link.name %>, but were unable to.</p>
    <p>If a charge to your credit card is not successful within 5 days, your subscription to <%= @subscription.link.name %> will be canceled.</p>
  <% end %>
</div>
