<article class="card" data-product-id="<%= product.unique_permalink %>">
  <div class="paragraphs">
    <div style="display: flex; gap: var(--spacer-4); align-items: center">
      <%= link_to_if(product.preview_url, image_tag(cdn_url_for(product.preview_url) || asset_path("cover_placeholder.png"), style: "width: var(--form-element-height)", alt: "Preview image"), product.preview_url, target: "_blank") %>
      <div style="display: grid; gap: var(--spacer-2)">
        <h2>
          <%= product.price_formatted %>, <%= link_to_unless_current(h(product.name), admin_link_url(product), title: product.id) %>
          <%= link_to(tag.span(nil, class: "icon icon-arrow-up-right-square"), product.long_url, target: "_blank") %>
        </h2>
        <div>
          <ul class="inline">
            <li><%= format_relative_time(product.created_at) %></li>
            <li><%= link_to(user_name(product.user), admin_user_url(product.user)) %></li>
          </ul>
          <%= react_component "AdminProductStats", props: { product_id: product.id }, prerender: true %>
        </div>
      </div>
    </div>

    <div class="button-group">
      <%= link_to "Edit", edit_link_path(product), target: "_blank", class: "button small" %>
      <% if product.admins_can_generate_url_redirects? %>
        <%= link_to "View download page", generate_url_redirect_admin_link_path(product.unique_permalink), target: "_blank", class: "button small" %>
      <% end %>
      <% product.alive_product_files.each do |file| %>
        <%= link_to file.s3_filename, admin_access_product_file_admin_product_path(product.unique_permalink, file.external_id), target: "_blank", class: "button small" %>
      <% end %>
    </div>
  </div>

  <hr>
  <details>
    <summary>
      <h3>Description</h3>
    </summary>
    <div class="js-product-description with-rich-text">
      <% product_description = product.html_safe_description %>
      <% if strip_tags(product_description).blank? %>
        <div class="info" role="status">No description provided.</div>
      <% else %>
        <%= product_description %>
      <% end %>
    </div>
  </details>

  <hr>
  <details>
    <summary>
      <h3>Details</h3>
    </summary>
    <% if product.filegroup %>
      <%= react_component "AdminProductAttributesAndInfo", props: { productData: ProductPresenter.new(product: product).admin_info }, prerender: true %>
    <% else %>
      <div class="info" role="status">No additional details.</div>
    <% end %>
  </details>

  <hr>
  <h3>Info</h3>
  <dl>
    <dt>Type</dt>
    <dd><%= product_type_label(product) %></dd>

    <dt>External ID</dt>
    <dd><%= product.external_id %></dd>

    <dt>Published</dt>
    <dd><%= product.alive? ? icon_yes : icon_no %></dd>

    <dt>Listed on Discover</dt>
    <dd><%= product.recommendable? ? icon_yes : icon_no %></dd>

    <dt>Staff-picked</dt>
    <dd><%= product.staff_picked_product&.not_deleted? ? icon_yes : icon_no %></dd>

    <dt>Preorder</dt>
    <dd><%= product.is_in_preorder_state? ? icon_yes : icon_no %></dd>

    <% if !product.buy_only? %>
      <dt>Purchase type</dt>
      <dd><%= product.purchase_type %></dd>

      <dt>Rental price</dt>
      <dd><%= MoneyFormatter.format(product.rental_price_cents, product.price_currency_type.to_sym, no_cents_if_whole: true, symbol: true) %></dd>
    <% end %>

    <dt>Has stamped PDFs</dt>
    <dd><%= product.has_stampable_pdfs? ? icon_yes : icon_no %></dd>

    <dt>Streaming</dt>
    <dd><%= product.streamable? ? icon_yes : icon_no %></dd>

    <dt>Physical</dt>
    <dd><%= product.is_physical ? icon_yes : icon_no %></dd>

    <dt>Licensed</dt>
    <dd><%= product.is_licensed ? icon_yes : icon_no %></dd>

    <dt>Is Adult (on product)</dt>
    <dd><%= product.is_adult? ? icon_yes : icon_no %></dd>

    <dt>Is Adult (on user profile)</dt>
    <dd><%= product.user.all_adult_products? ? icon_yes : icon_no %></dd>

    <dt>Is Adult (keywords)</dt>
    <dd><%= product.has_adult_keywords? ? icon_yes : icon_no %></dd>

    <dt>Category</dt>
    <dd>
      <% if product.taxonomy.present? %>
        <%= product.taxonomy.ancestry_path.join(" > ") %>
      <% end %>
    </dd>

    <dt>Tags</dt>
    <dd><%= product.tags.map(&:humanized_name).join(", ") %></dd>

    <dt>Circle Community</dt>
    <dd>
      <% if product.has_integration?(CircleIntegration.name) %>
        <%= icon_yes %>
      <% else %>
        <%= icon_no %>
      <% end %>
    </dd>

    <dt>Discord Channel</dt>
    <dd>
      <% if product.has_integration?(DiscordIntegration.name) %>
        <%= icon_yes %>
      <% else %>
        <%= icon_no %>
      <% end %>
    </dd>
  </dl>

  <hr>
  <div class="button-group">
    <% if product.alive? %>
      <%= admin_action label: "Unpublish", url: unpublish_admin_link_path(product.unique_permalink), loading: "Unpublishing product...", done: "Unpublished!", success_message: "Unpublished!" %>
    <% else %>
      <%= admin_action label: "Publish", url: publish_admin_link_path(product.unique_permalink), loading: "Publishing product...", done: "Published!", success_message: "Published!" %>
    <% end %>
    <% if product.deleted_at %>
      <%= admin_action label: "Undelete", url: restore_admin_product_path(product.unique_permalink), loading: "Undeleting product...", done: "Undeleted!", success_message: "Undeleted!" %>
    <% else %>
      <%= admin_action label: "Delete", url: admin_product_path(product.unique_permalink), method: "DELETE", loading: "Deleting product...", done: "Deleted!", success_message: "Deleted!" %>
    <% end %>
    <% if product.is_adult %>
      <%= admin_action label: "Make non-adult", url: is_adult_admin_link_path(product.unique_permalink, is_adult: "0"), loading: "Making non-adult...", done: "It's not adult!", success_message: "It's not adult!" %>
    <% else %>
      <%= admin_action label: "Make adult", url: is_adult_admin_link_path(product.unique_permalink, is_adult: "1"), loading: "Making adult...", done: "It's adult!", success_message: "It's adult!" %>
    <% end %>
    <% if policy([:admin, :products, :staff_picked, product]).create? %>
      <%= admin_action label: "Mark as staff-picked", url: admin_product_staff_picked_path(product.id), loading: "Marking as staff-picked...", done: "Marked as staff-picked!", success_message: "Marked as staff-picked!" %>
    <% end %>
    <% if policy([:admin, :products, :staff_picked, product]).destroy? %>
      <%= admin_action label: "Unmark as staff-picked", url: admin_product_staff_picked_path(product.id), method: "DELETE", loading: "Unmarking as staff-picked...", done: "Unmarked as staff-picked!", success_message: "Unmarked as staff-picked!" %>
    <% end %>
    <% if product.has_integration?(DiscordIntegration.name) %>
      <%= link_to "Join Discord", join_discord_redirect_admin_link_path(product.id), target: "_blank", class: "button small" %>
    <% end %>
  </div>

  <% unless product.user.flagged_for_tos_violation? || product.user.suspended? || !product.alive? %>
    <hr>
    <details>
      <summary>
        <h3>Flag for TOS violation</h3>
      </summary>

      <% suspend_tos_success_message = "User was flagged for TOS violation and product #{product.is_tiered_membership? ? "unpublished" : "deleted"}." %>
      <% suspend_tos_confirm_message = "Are you sure you want to flag the user and #{product.is_tiered_membership? ? "unpublish" : "delete"} the product?" %>
      <%= react_component "AdminSuspendForTosForm", props: { product_id: product.id, success_message: suspend_tos_success_message, confirm_message: suspend_tos_confirm_message, reasons: Compliance::TOS_VIOLATION_REASONS, default_reason: Compliance::DEFAULT_TOS_VIOLATION_REASON }, prerender: true %>
    </details>
  <% end %>

  <hr>
  <%= react_component "AdminProductPurchases", props: { product_id: product.id, is_affiliate_user: is_affiliate_user, user_id: defined?(user_id) && user_id }, prerender: true %>

  <hr>
  <%= render("admin/comments/form", commentable: product) %>
  <%= render("admin/comments/index", commentable: product) %>

  <hr>
  <dl>
    <dt>Updated</dt>
    <dd><%= format_relative_time(product.updated_at) %></dd>
    <dt>Deleted</dt>
    <dd><%= format_relative_time(product.deleted_at, placeholder: icon_no) %></dd>
  </dl>
</article>
