<%= render "home/shared/header",
  bg_color: "yellow",
  subtitle: "Product features",
  title: "Built for new beginnings",
  description: "Gumroad is a powerful, but simple, e-commerce platform that puts a wide selection of tools at your fingertips. Now you can sell the digital services you want—books, memberships, courses, and more—right to your audience." do %>
<div class="override hidden relative mx-auto h-96 w-full max-w-6xl overflow-hidden border-y border-black bg-pink p-8 rounded-full border lg:block">
  <div class="relative z-10 flex h-full flex-col justify-between border border-black bg-pink rounded-full px-8">
    <div class="-mt-3 justify-between px-32 flex">
      <div class="flex h-6 items-center bg-pink pr-6 gap-x-3">
        <%= image_tag "features/arrowhead-right.svg", class: "h-6 w-6 -translate-x-3 -translate-y-px" %>
        <div class="text-xl xl:text-2xl">Open Account</div>
      </div>
      <div class="flex h-6 items-center bg-pink pr-6 gap-x-3">
        <%= image_tag "features/arrowhead-right.svg", class: "h-6 w-6 -translate-x-3 -translate-y-px" %>
        <div class="text-xl xl:text-2xl">Add Product</div>
      </div>
      <div class="flex h-6 items-center bg-pink pr-6 gap-x-3">
        <%= image_tag "features/arrowhead-right.svg", class: "h-6 w-6 -translate-x-3 -translate-y-px" %>
        <div class="text-xl xl:text-2xl">Start Selling</div>
      </div>
    </div>
    <div class="flex justify-around space-x-4">
      <%= image_tag "features/drawing-and-painting.svg" %>
      <%= image_tag "features/design-and-tech.svg" %>
      <%= image_tag "features/books-and-writing.svg" %>
      <%= image_tag "features/games.svg" %>
    </div>
    <div class="-mb-3 justify-between px-32 flex">
      <div class="flex h-6 items-center bg-pink pl-6 gap-x-3">
        <div class="text-xl xl:text-2xl">Repeat</div>
        <%= image_tag "features/arrowhead-right.svg", class: "h-6 w-6 translate-x-3 translate-y-px rotate-180", alt: "" %>
      </div>
      <div class="flex h-6 items-center bg-pink pl-6 gap-x-3">
        <div class="text-xl xl:text-2xl">Get paid</div>
        <%= image_tag "features/arrowhead-right.svg", class: "h-6 w-6 translate-x-3  translate-y-px rotate-180", alt: "" %>
      </div>
    </div>
  </div>
</div>
<div class="pointer-events-none absolute inset-0 overflow-visible z-10">
  <%= image_tag "features/feature-receipt-1.svg",
    class: "absolute -left-16 top-0 h-32 w-32 lg:left-24 lg:top-32 lg:h-56 lg:w-56",
    alt: "Feature receipt illustration 1"
  %>
  <%= image_tag "features/feature-receipt-2.svg",
    class: "override hidden absolute top-1/2 -left-12 :h-56 w-56 lg:block",
    alt: "Feature receipt illustration 2"
  %>
  <%= image_tag "features/feature-receipt-3.svg",
    class: "absolute -left-24 bottom-0 h-32 w-32 lg:left-20 lg:-bottom-24 lg:h-56 lg:w-56",
    alt: "Feature receipt illustration 3"
  %>
  <%= image_tag "features/feature-receipt-11.svg",
    class: "absolute -right-24 bottom-0 h-32 w-32 lg:right-64 lg:-bottom-24 lg:h-48 lg:w-48",
    alt: "Feature receipt illustration 1"
  %>
  <%= image_tag "features/feature-receipt-5.svg",
    class: "override hidden absolute top-1/2 right-16 h-48 w-48 lg:block",
    alt: "Feature receipt illustration 5"
  %>
  <%= image_tag "features/feature-receipt-4.svg",
    class: "absolute -right-20 top-0 h-32 w-32 lg:right-32 lg:top-32 lg:h-48 lg:w-48",
    alt: "Feature receipt illustration 4"
  %>
</div>
<% end %>

<%= render "home/shared/section_header",
  subtitle: "Customizable Options",
  title: "Your store, your way",
  description: "Gumroad plays well with others. Set up your store on our <br class=\"hidden override md:inline\">platform, or easily embed it on your existing site."
%>

<div class="flex flex-col overflow-hidden border-y border-black lg:flex-row">
  <div class="flex items-center justify-center border-b border-black bg-orange p-8 py-16 sm:p-12 md:p-16 lg:order-2 lg:w-1/2 lg:border-b-0 lg:border-l xl:p-32">
    <div class="relative">
      <%= image_tag "features/home-feature-4.svg", class: "h-auto w-full", data: { parallax: true }, alt: "Illustration showing customizable store options" %>
      <%= image_tag "features/thumbsup.svg", class: "absolute -bottom-28 -left-10 w-24 transform-gpu md:-bottom-24 md:-left-32 md:w-44", data: { parallax: true }, alt: "Thumbs up icon" %>
    </div>
  </div>
  <div class="flex items-center justify-center bg-black p-8 py-16 text-white sm:p-12 md:p-16 lg:w-1/2 xl:p-32">
    <div class="max-w-2xl space-y-12 md:space-y-16">
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Create a home here
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          No site? No problem. Use our flexible page editor to build a storefront and customize your site's colors, and more.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Use your own website, too
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Already have a site? Link it to ours under a custom domain.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Power-up your page
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          You can easily embed our payment platform and 'follow' button on your existing site.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="relative overflow-hidden" data-carousel>
  <div class="flex transition-transform duration-300 ease-in-out" data-carousel-slides>
    <div class="flex w-full flex-none">
      <%= render "home/shared/testimonial_slide",
        image_url: image_path("creators/motionbynick.png"),
        name: "Nick Greenawalt",
        username: "motionbynick",
        profile_url: "https://motionbynick.gumroad.com/?recommended_by=search",
        quote: "I like to move fast and break shit. Gumroad allows me to quickly experiment with new ideas, without the headache of managing a complicated store.",
        product_type: "motion design tutorials"
      %>
    </div>

    <div class="flex w-full flex-none">
      <%= render "home/shared/testimonial_slide",
        image_url: image_path("creators/stephsmithio.png"),
        name: "Steph Smith",
        username: "stephsmithio",
        profile_url: "https://stephsmithio.gumroad.com/?recommended_by=search",
        quote: "Gumroad lets creators be creators. It handles payments, affiliates, discounts, etc, so that you can stick to what you know best.",
        product_type: "informational courses"
      %>
    </div>

    <div class="flex w-full flex-none">
      <%= render "home/shared/testimonial_slide",
        image_url: image_path("creators/dvassallo.png"),
        name: "Daniel Vassallo",
        username: "dvassallo",
        profile_url: "https://dvassallo.gumroad.com/?recommended_by=search",
        quote: "I love Gumroad because it can't be any simpler. I upload a file, set a price, and I can start selling on the internet. The money I make from my sales lands directly in my bank account every Friday.",
        product_type: "entrepreneurial courses and kitchen tools"
      %>
    </div>

    <div class="flex w-full flex-none">
      <%= render "home/shared/testimonial_slide",
        image_url: image_path("creators/boringbotlab.png"),
        name: "Setu Choudhary",
        username: "boringbotlab",
        profile_url: "https://boringbotlab.gumroad.com/?recommended_by=search",
        quote: "Gumroad has been a key driver of my journey to build a community around my product. It makes it much easier to sell digital products online and provides sellers with a lot of features.",
        product_type: "Cinema4D material packs"
      %>
    </div>
  </div>

  <button class="absolute left-4 top-1/2 -translate-y-1/2 cursor-pointer hover:opacity-70 hidden override sm:block" data-carousel-prev>
    <svg width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.47288 18.165C7.2307 13.2867 4.32451 10.3806 -0.000161092 9.99999L-0.000160928 8.13038C4.32451 7.74981 7.2307 4.87823 7.47288 -1.73273e-06L10.6904 0.691946C10.5174 2.45641 9.8947 4.01329 8.85678 5.43179C7.78426 6.81568 6.57334 7.58483 5.18944 8L27.293 8L27.293 10L5.18944 9.99999C6.57334 10.4152 7.78426 11.3147 8.85678 12.7332C9.8947 14.1517 10.5174 15.7086 10.6904 17.4384L7.47288 18.165Z" fill="currentColor"/>
    </svg>
  </button>

  <button class="absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer hover:opacity-70 hidden override sm:block" data-carousel-next>
    <svg width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg)">
      <path d="M7.47288 18.165C7.2307 13.2867 4.32451 10.3806 -0.000161092 9.99999L-0.000160928 8.13038C4.32451 7.74981 7.2307 4.87823 7.47288 -1.73273e-06L10.6904 0.691946C10.5174 2.45641 9.8947 4.01329 8.85678 5.43179C7.78426 6.81568 6.57334 7.58483 5.18944 8L27.293 8L27.293 10L5.18944 9.99999C6.57334 10.4152 7.78426 11.3147 8.85678 12.7332C9.8947 14.1517 10.5174 15.7086 10.6904 17.4384L7.47288 18.165Z" fill="currentColor"/>
    </svg>
  </button>

  <div class="absolute bottom-4 left-1/2 flex -translate-x-1/2 gap-2">
    <button class="h-4 w-4 rounded-full border border-black border-solid bg-black override" data-carousel-indicator data-slide="0"></button>
    <button class="h-4 w-4 rounded-full border border-black border-solid" data-carousel-indicator data-slide="1"></button>
    <button class="h-4 w-4 rounded-full border border-black border-solid" data-carousel-indicator data-slide="2"></button>
    <button class="h-4 w-4 rounded-full border border-black border-solid" data-carousel-indicator data-slide="3"></button>
  </div>
</div>
¸
<%= render "home/shared/carousel" %>

<%= render "home/shared/section_header",
  subtitle: "Payment Integrations",
  title: "Money, incoming",
  description: "Once you get set up, it's easy to ring the register.<br class=\"hidden override md:inline\"> Here's how you can sell and get paid, fast."
%>

<div class="flex flex-col overflow-hidden border-t border-black lg:flex-row">
  <div class="flex items-center justify-center border-b border-black bg-purple p-8 py-16 sm:p-12 md:p-16 lg:w-1/2 lg:border-b-0 lg:border-r xl:p-32">
    <div class="relative max-w-xl">
      <%= image_tag "features/features-3.svg", class: "h-auto w-full", data: { parallax: true }, alt: "Illustration showing payment integrations" %>
    </div>
  </div>
  <div class="flex items-center justify-center bg-black p-8 py-16 text-white sm:p-12 md:p-16 lg:w-1/2 xl:p-32">
    <div class="max-w-2xl space-y-12 md:space-y-16">
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Create simple memberships
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Give customers access to a library of content for as long as they're subscribed.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Set up subscriptions
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Let customers pay over time—monthly, quarterly, biannually, yearly, and more.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          The sky's the limit
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Give your audience the chance to pay what they want for your product.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col overflow-hidden border-t border-black lg:flex-row">
  <div class="flex items-center justify-center border-b border-black bg-purple lg:order-2 lg:w-1/2 lg:border-b-0 lg:border-l">
    <div class="relative">
      <%= image_tag "features/features-4.svg", class: "h-auto w-full", data: { parallax: true }, alt: "Illustration showing payment integrations" %>
    </div>
  </div>
  <div class="flex items-center justify-center bg-black p-8 py-16 text-white sm:p-12 md:p-16 lg:w-1/2 xl:p-32">
    <div class="max-w-2xl space-y-12 md:space-y-16">
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Say ¥£$ to different currencies
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Increase your sales opportunities by accepting payments from a global audience.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Don't sweat VAT
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          We collect VAT as required and send it to the EU. You don't need to do a thing.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col overflow-hidden border-y border-black lg:flex-row-reverse">
  <div class="flex items-center justify-center border-b border-black bg-purple p-8 py-16 sm:p-12 md:p-16 lg:order-2 lg:w-1/2 lg:border-b-0 lg:border-r xl:p-32">
    <div class="relative max-w-xl">
      <%= image_tag "features/features-5.svg", class: "h-auto w-full", data: { parallax: true }, alt: "Illustration showing license keys" %>
    </div>
  </div>
  <div class="flex items-center justify-center bg-black p-8 py-16 text-white sm:p-12 md:p-16 lg:w-1/2 xl:p-32">
    <div class="max-w-2xl space-y-12 md:space-y-16">
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Generate license keys
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Selling software? We can create your license keys, so you can get back to beta.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Sell multiple versions
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Allow buyers to pick from PDF, ePub, and Mobi. Even charge more for lossless audio.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-purple lg:text-4xl xl:text-5xl">
          Protect your work
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          We can create lightweight DRM to help keep customers honest.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render "home/shared/section_header",
  subtitle: "Comprehensive Platform",
  title: "From start to finesse",
  description: "We've spent ten years building an end-to-end platform <br class=\"hidden override md:inline\">so you can start selling in seconds."
%>

<div class="flex flex-col overflow-hidden border-t border-black lg:flex-row">
  <div class="flex items-center justify-center border-b border-black bg-orange p-8 py-16 sm:p-12 md:p-16 lg:w-1/2 lg:border-b-0 lg:border-r xl:p-32">
    <div class="relative">
      <%= image_tag "features/features-6.svg", alt: "Illustration showing various creator tools and features", class: "h-auto w-full", data: { parallax: true } %>
      <%= image_tag "features/easy.svg", alt: "Easy sticker with handwritten text", class: "absolute -right-10 -top-10 w-32 transform-gpu parallax-coins md:w-36", data: { parallax: true } %>
      <%= image_tag "features/price-tag.svg", alt: "Decorative price tag sticker with handwritten text", class: "absolute -bottom-10 -left-10 w-40 transform-gpu parallax-coins md:w-48", data: { parallax: true } %>
    </div>
  </div>

  <div class="flex items-center justify-center bg-black p-8 py-16 text-white sm:p-12 md:p-16 lg:w-1/2 xl:p-32">
    <div class="max-w-2xl space-y-12 md:space-y-16">
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Tools to get going fast
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Create a profit-making machine in no time with our flexible page editor or easily embed a 'Follow' button onto your existing site.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Sell anything
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          We don't limit your ideas. Whether it's a digital download, eBook, course, or monthly membership, we make sure it checks out.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Bring your friends
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Already have fans? Easily import your existing email list—and export your followers and customers at any time.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col overflow-hidden border-t border-black lg:flex-row">
  <div class="relative flex items-center justify-center bg-yellow lg:order-2 lg:w-1/2">
    <div class="absolute inset-0" role="presentation" aria-hidden="true" style="background: url(<%= asset_path('features/blob-bg.svg') %>) center no-repeat; background-size: cover;"></div>
    <div class="relative p-8 sm:p-12 md:p-16 xl:p-32">
      <div class="relative max-w-2xl">
        <%= image_tag "features/sales-graph.svg", alt: "Interactive graph showing sales analytics and growth metrics", class: "h-auto w-full", data: { parallax: true } %>
        <%= image_tag "features/clapping.svg", alt: "Decorative clapping hands sticker celebrating success", class: "absolute -bottom-24 -right-8 w-32 transform-gpu sm:-bottom-20 sm:-right-20 sm:w-52 md:-bottom-24 md:-right-24 lg:-bottom-24 lg:-right-24", data: { parallax: true } %>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center bg-black p-8 py-16 text-white sm:p-12 md:p-16 lg:w-1/2 xl:p-32">
    <div class="max-w-2xl space-y-12 md:space-y-16">
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Be ready when they are
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          All payments are secure and smooth, so your customers can read, listen, or watch their purchase immediately.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Make decisions with your data
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Dive deeper into your sales with analytics that can help you improve your products and messaging.
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl font-medium text-orange lg:text-4xl xl:text-5xl">
          Grow your audience
        </h3>
        <p class="text-lg lg:text-xl xl:text-2xl">
          Post new updates, send email broadcasts, and use powerful automated workflows to connect and grow your audience.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render "home/shared/section_cta" %>
<%= render "home/shared/footer" %>
