<% @description = "In this article: Set up your profile Customize font and colors Create pages and sections Product sections Sort your products Let customers filter your products " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#setup" target="_self">Set up your profile</a>
        <ul>
          <li><a href="#font-and-colors" target="_self">Customize font and colors</a></li>
        </ul>
      </li>
      <li><a href="#Create-product-categories-LYEcj" target="_self">Create pages and sections</a>
        <ul>
          <li><a href="#Product-sections-WxaV_" target="_self">Product sections</a>
            <ul>
              <li>Sort your products</li>
              <li>Let customers filter your products</li>
              <li>Add a featured product</li>
            </ul>
          </li>
          <li><a href="#Posts-sections-y8C6f" target="_self">Posts sections</a></li>
          <li><a href="#Subscribe-sections-cNGWx" target="_self">Subscribe sections</a></li>
          <li><a href="#Text-sections-Zn8fk" target="_self">Text sections</a></li>
          <li><a href="#Add-sections-to-product-pages-ABGsI" target="_self">Add sections to product pages</a></li>
        </ul>
      </li>
    </ul>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6628533d7303ea4a739d367b/file-GLfzOQP5BK.png" %></figure>
    <p>Your profile allows you to have your own website on Gumroad. You can use it to introduce yourself with a profile picture and bio, <a href="170-audience.html">grow your following</a> by collecting email addresses, and showcase your products across customizable pages and sections.</p>
    <p>Your profile is located at [username].gumroad.com where [username] is replaced with your unique username. You can also get there by clicking on your name and then the Profile button on the Gumroad navigation.</p>
    <h3 id="setup">Set up your profile</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63ff2813b7da6b15a7ea212e/file-Yc0TiiOjTZ.png" %></figure>
    <p>Go to the <a href="https://app.gumroad.com/settings/profile" target="_blank">profile settings</a> to update the public-facing information for your customers to read, including a short bio (we’ve found that a sentence or two works best rather than overly-long descriptions of your entire career path).</p>
    <p>You can also connect your X/Twitter account which will be linked with an icon on the profile page.</p>
    <h3 id="font-and-colors">Customize fonts and colors</h3>
    <p>Choose from different font styles, accents, and background colors from your <a href="https://app.gumroad.com/settings/profile" target="_self">profile settings</a>. The custom fonts and colors will apply to your profile, product, posts, and emails; but not to your product’s content.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63ff28543c396c395ec0f4c3/file-O2U84Acgi2.png" %></figure>
    <h3 id="Create-product-categories-LYEcj">Create pages and sections</h3>
    <p>You can have multiple pages on your profile with each page containing multiple sections, helping you categorize your products and posts effectively.</p>
    <p>Click on the three-dot menu and select New page to get started. On a given page, click the + icon at the bottom to create a new section to be displayed on your profile.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/660a470bd00a8f46829b75dc/file-LcDS8NDJzg.gif" %></figure>
    <p>You can also rename and reorder your pages and sections from the three-dot menu.</p>
    <h3 id="Product-sections-WxaV_">Product sections</h3>
    <p>On a given product section, click the three-dot menu on the left to assign a name and select the products you want it to contain. You can choose whether to display the section's name or not, and automatically add any new products to a section (enabled by default on new sections).</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6597f226df35c837879e8922/file-d1pwX1X2F6.gif" %></figure>
    <p>When you're done, just click outside the box to save your changes!</p>
    <p><b>Sort your products</b></p>
    <p>You can manually set the order of your products, or you can set a default sort by price, rating, or recency.</p>
    <p>To set a custom order, click Products, select your Default sort order as ‘Custom’, and drag the products by holding the 6 dots on the left.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6597f0c2baa1964909074c42/file-HwP7sCuVrA.gif" %></figure>
    <p><b>Let customers filter your products</b></p>
    <p>Product filters help customers organize and easily explore your products as they browse. Your products can be filtered by rating and the types of files they contain. If you do not want your customers to see the filters, you can turn them off by toggling 'Show product filters'. </p>
    <p><i>Note:</i> Filters are disabled while editing to ensure you can see all the selected products. You can test them out after logging out from your account, or in a different browser/incognito window.</p>
    <p><b>Add a featured product</b></p>
    <p>Have a best-selling product you’d like to highlight, or wish to drive more attention to a new launch? You can embed an individual product on your profile with the Featured Product block. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/662854315ae8353469c6ac18/file-5fQ76mlvqG.png" %></figure>
    <h3 id="Posts-sections-y8C6f">Posts sections</h3>
    <p>Adding a Posts section will display all eligible emails <a href="169-how-to-send-an-update.html" target="_self">posted on your profile</a>.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/660a47e050568305fcb28b75/file-gqecfYxkl0.gif" %></figure>
    <h3 id="Subscribe-sections-cNGWx">Subscribe sections</h3>
    <p>Add a Subscribe block to collect email addresses for your newsletter. You can customize the section heading and the button label as well!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6628546ae66450147a8e5ae4/file-j4Rr3XN7Xl.png" %></figure>
    <h3 id="Text-sections-Zn8fk">Text sections</h3>
    <p>Provide additional context before a section or type a page with Rich text blocks. The formatting bar allows you to add lists, code blocks, quotes, links, buttons, and more!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/66285496e66450147a8e5ae5/file-W42DTYtVQc.png" %></figure>
    <h3 id="Add-sections-to-product-pages-ABGsI">Add sections to product pages</h3>
    <p>Like on your profile, you can add sections like products, posts, subscribe, and text blocks on your product pages too!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/66988bf35908935e84818b2b/file-h0OJRWWXyI.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
      <li><a href="60-adding-a-cover-image.html"><span>Adding cover and thumbnail images</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
    </ul>
  </div>
</div>
