<% @description = "In this article: Add a version Add a free version Add different content to your versions Share a version Reorder versions Delete a version Reassign a customer t" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#add">Add a version</a></li>
      <li><a href="#Add-a-free-version-l3a9-" target="_blank">Add a free version</a></li>
      <li><a href="#content">Add different content to your versions</a></li>
      <li><a href="#share">Share a version</a></li>
      <li><a href="#reorder">Reorder versions</a></li>
      <li><a href="#delete">Delete a version</a></li>
      <li><a href="#reassign">Reassign a customer to a different version</a></li>
    </ul>
    <p>You can sell different versions of a product on Gumroad. For example, versions can help you sell software with different features, or offer an additional service along with the main product.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62443b14c1e53608cf9ee50a/file-Lj9mhlHeLN.gif" %></figure>
    <h3 id="add">Add a version</h3>
    <p>Go to your product’s “Product” tab, scroll down to the “Versions” section, and click “Add version”.</p>
    <p>Give your version a name, description, an additional amount over the base product price, and a quantity if you wish to limit the sales of the version.</p>
    <p>You can add multiple versions by clicking the “Add version” button.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/628c9e1d68d51e779444324c/file-AHYxehhsRb.gif" %></figure>
    <h3 id="Add-a-free-version-l3a9-">Add a free version</h3>
    <p>If your base product price is $0, adding a paid version won’t automatically create a free version. To sell both a free and paid version/s of your product, add another version and enter the "Additional amount" as $0.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/tOtH7wLX0WCDLykqknhOxPk_1deyQZeXQk709R1JIUatyE1aiZ7rcS0Sn1xf1cNUhogez2oBpTAzeb_8zZOX5bhJn0TKdFX2zokIavYkEy3vFkGfxyVd83BkZWIOhE2dGfN5E2mdDk7-IEAFYmjpIws" %></figure>
    <h3 id="content">Adding different content to your versions</h3>
    <p>Switch to the “Content” tab, select the version you’d like to add content for and start typing! You can add files inline, videos (for download or streaming only), stamped PDFs, and more—right from the editor!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64ecbee4e82ed15ede51f41b/file-Hewkcua9FB.gif" %></figure>
    <h3 id="share">Share a version</h3>
    <p>You can send customers to a specific version by clicking the "Share" button next to the name of the version.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62443ee5c1e53608cf9ee51f/file-kAYtQWQQCH.gif" %></figure>
    <h3 id="reorder">Reorder versions</h3>
    <p>If you want to change the order of how your versions appear, click and drag the version from its left end and place them in the desired order.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62443fabab585b230a8a678e/file-oi2PtQycd1.gif" %></figure>
    <h3 id="delete">Delete a version</h3>
    <p>Click the trash icon next to the version’s name to delete it.</p>
    <p>If you delete a version, its associated content will be removed as well. Your existing customers who purchased it will see the content from the current cheapest version as a fallback. If no version exists, they will see the product-level content.</p>
    <p>To avoid any confusion, we recommend that you reassign the customer to another version that will remain alive before deleting a version.</p>
    <h3 id="reassign">Reassign a customer to a different version</h3>
    <p>Go to your <a href="https://app.gumroad.com/customers" target="_blank">Sales Dashboard</a> and select the purchase for which you’d like to change the version. Scroll down to the version, click Edit, and select the new version. </p>
    <p>This does not charge or refund the customer, it simply grants them access to the files for the new version.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6244406142ba434a7afe1467/file-F36dh6zzER.gif" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
      <li><a href="112-mobile-friendly-files.html"><span>Mobile-friendly files</span></a></li>
    </ul>
  </div>
</div>
