<% @description = "In this article: Create a discount code Allow customers to enter discount codes Discounts for memberships Discount code customization Edit discount codes FAQs C" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#checkout-page" target="_self">Create a discount code</a></li>
      <li><a href="#Allow-customers-to-enter-discount-codes-IN4wU" target="_self">Allow customers to enter discount codes</a></li>
      <li><a href="#Discounts-for-memberships-_Pxb_" target="_self">Discounts for memberships</a></li>
      <li><a href="#Discount-code-customization-nlf76" target="_self">Discount code customization</a></li>
      <li><a href="#edit-discount-codes" target="_self">Edit discount codes</a></li>
      <li><a href="#FAQs-pJIfb" target="_self">FAQs</a></li>
    </ul>
    <h3 id="checkout-page">Create a discount code</h3>
    <p>After you've created a product, you can create discount codes to offer a discount to your customers.</p>
    <p>Creating discount codes is easy—just go to the <a href="https://app.gumroad.com/checkout/discounts">Discounts tab on the Checkout page</a>. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/657b13f8a55b5524fb50d6a4/file-EentR7IlvA.png" %></figure>
    <p>Click "New discount" to get started. We auto-generate a discount code for you, but you can replace it with your custom code.</p>
    <p><span>Note:</span> The code can contain only numbers and letters.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c309278106ae1c4ab6f392/file-GAk6eFEPyf.png" %></figure>
    <p>Choose the product(s) you want this discount code to apply to, or check “All products” if you want it to apply to all your products.</p>
    <p>Enter the discount code and the amount or percentage off of your full price.</p>
    <h3 id="Allow-customers-to-enter-discount-codes-IN4wU">Allow customers to enter discount codes</h3>
    <p>To show the discount code input box on the checkout page, toggle  “Only if a discount is available” in the <a href="https://app.gumroad.com/checkout/form">Checkout form</a> tab, otherwise, it will only be possible to apply a discount code by using a  <a href="270-url-parameters.html">a URL parameter</a>.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/657b142ea55b5524fb50d6a5/file-RPDfnvrDVr.png" %></figure>
    <h3 id="Discounts-for-memberships-_Pxb_">Discounts for memberships</h3>
    <p>If your discount code applies to a membership, you can choose if you want it to be valid for all recurring charges or just the first billing period. A code meant for just the first billing period can help you boost recurring sales without being stuck to the discounted price for the entire membership duration.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64a11a8674f970393a8b0b36/file-GRMdcSBATo.png" %></figure>
    <h3 id="Discount-code-customization-nlf76">Discount code customization</h3>
    <p>You can customize a discount code by setting these parameters:</p>
    <br>
    <ol>
      <li>
        <p><b>Limit quantity</b></p>
        <p>Limit the total number of times this code can be used by setting a “Limit quantity”. By default, the code can be used an unlimited number of times. This limits the overall uses of the code, not the number of uses by a specific customer.</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c30a53ffa21909875f09e0/file-4Nb6iBmdkR.png" %></figure>
      </li>
      <li>
        <p><b>Limit the validity period</b></p>
        <p>Schedule discount codes in advance by setting a validity period. This allows you to create discount codes ahead of time and also expire them without losing access to revenue or usage stats. This can be useful for time-limited offers or promotions.</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c309580a12eb325db176e9/file-88EykczAUI.png" %></figure>
      </li>
      <li>
        <p><b>Set a minimum qualifying amount</b></p>
        <p>Set a minimum $ amount to allow a discount only when the customer's total spend for the discount’s product(s) exceeds this amount.</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c30a740a12eb325db176eb/file-Xb8iyKk30M.png" %></figure>
      </li>
      <li>
        <p><b>Set a minimum quantity</b></p>
        <p>Incentivize your customers to purchase multiple quantities of a product by setting a minimum quantity. These codes will apply only if the customer is purchasing a quantity greater than or equal to the set minimum. </p>
        <p><b>Please note:</b> The intended product(s) must have the “Allow customers to choose a quantity” setting toggled on for your customers to be able to utilize this code. You can do this from the product’s edit page.</p>
        <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65c30a93ffa21909875f09e1/file-fedhaSLrxl.png" %></figure>
        <br>
      </li>
    </ol>
    <h3 id="edit-discount-codes">Edit discount codes</h3>
    <p>Click any discount you want to edit, and a side panel will open. </p>
    <p>Under “Products”, click the share button to copy a product-specific link. This copies the URL to your <a href="136-find-your-products-url.html">Gumroad product</a> with "/{yourdiscountcode}" attached.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/657b140e4773693a6d83e080/file-JRg3rVoT9r.png" %></figure>
    <p>Once you click on the discounted link, you will see that the original price is crossed out, and the discounted price is displayed next to it. This only displays if a discount code is applied from the product-specific link. Currently, this is the only way to show slashed prices.</p>
    <figure><%= image_tag "https://lh6.googleusercontent.com/6uHGn-GggrtKugV2fc3VLzfq6gRBxad8U1E5Q2SMs04eRvUAfktDmKg7qCECcX-vcukIPXtsG_ZcNbmn-UtoLlCgT_MF6DYNqrCjNolpv-AzRnwzXRMAHOibKoAFY4ysHRQy000KN8-dp5ybEhU4Gyo" %></figure>
    <h3 id="FAQs-pJIfb">FAQs</h3>
    <p><strong>Q: How do I embed a discount code in my product's URL? </strong></p>
    <p>Attach it to the end of the URL! For example: <a href="https://username.gumroad.com/%7BYourProductID%7D">https://username.gumroad.com/{YourProductID}</a> becomes <a href="https://username.gumroad.com/%7BYourProductID%7D/%7BYourOfferCode%7D">https://username.gumroad.com/{YourProductID}/{YourDiscountCode}</a></p>
    <p><strong>Q: Can I embed a discount code in my custom domain?</strong></p>
    <p>Yes! Similar to how it's done on the Gumroad domain, you'll have to add the coupon code at the end of the custom URL: <a href="128-creating-offer-codes.html">https://</a> {YourCustomDomain}/{YourProductID}/{YourDiscountCode}</p>
    <p><strong>Q: Can discount codes be used on top of one another? </strong></p>
    <p>Only one code can be used per product.</p>
    <p><span>Q: Can my customer use Purchasing Power Parity in combination with a discount code?</span></p>
    <p>Gumroad's system is designed to give the customer the best possible discount, so if the PPP discount is greater, it will be applied instead of the discount code.</p>
    <p>If the customer still wishes to use the discount code instead of the PPP discount, you would need to disable PPP in your settings. However, this would affect all customers, not just the ones trying to use the offer code.</p>
    <p><b>Q: Can a discount code be added to an affiliate link?</b></p>
    <p>You can combine an affiliate link with a discount code:</p>
    <p>https://{Your_Username}.<a href="http://gumroad.com/l/%7BYourProductID%7D/%7BYourDiscountCode%7D?affiliate_id=%7BAffiliate_ID%7D">gumroad.com/l/{YourProductID}/{YourDiscountCode}?affiliate_id={Affiliate_ID}</a></p>
    <p>The affiliate ID can be found in the affiliate link the number after the /a/.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
    </ul>
  </div>
</div>
