<% @description = "In this article: Choose a product type Set a price Describe your product Provide additional product info Integrations Add content to your product Pages Embed em" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#product-type">Choose a product type</a></li>
      <li><a href="#set-price">Set a price</a></li>
      <li><a href="#describe">Describe your product</a></li>
      <li><a href="#additional-info">Provide additional product info</a></li>
      <li><a href="#integrations">Integrations</a></li>
      <li><a href="#content">Add content to your product</a>
        <ul>
          <li><a href="#Pages-lNmGh" target="_self">Pages</a></li>
          <li><a href="#Embed-emails-into-your-product-sX3L4" target="_self">Embed emails into your product</a></li>
          <li><a href="#Group-files-to-create-folders-kEinr">Group files to create folders</a></li>
          <li><a href="#Track-clicks-on-your-URLs-B4Mtb" target="_self">Track clicks on your URLs</a></li>
        </ul>
      </li>
      <li><a href="#versions">Versions</a></li>
      <li><a href="#test-publish">Publish your product</a></li>
    </ul>
    <h3 id="product-type">Choose a product type</h3>
    <p>Click New product on the <a href="https://app.gumroad.com/products/">Products dashboard</a> and select a product type.</p>
    <p>Digital product, Course or tutorial, and E-book type products allow you to sell one-time payment products with digital content in it. </p>
    <p>You can also sell recurring charge <a href="82-membership-products.html" target="_self">memberships</a>, a <a href="339-product-bundles.html" target="_self">bundle</a> of multiple existing products, and <a href="70-can-i-sell-services.html" target="_self">service-type products</a>.</p>
    <figure><%= image_tag "help_center/creating-tab.png" %></figure>
    <h3 id="set-price">Set a price</h3>
    <p>Products can be <a href="133-pay-what-you-want-pricing.html#Create-a-free-product-EV4ZH">free</a> or as much as USD 5,000. You can also let customers <a href="133-pay-what-you-want-pricing.html">pay whatever they want</a> by adding a '+' to a product's minimum price, like “$5+".</p>
    <p>Click the currency sign to select from the display currency options—this cannot be changed once the product is created. Regardless of the display currency, please note that <a href="46-what-currency-does-gumroad-use.html">all charges are processed in USD.</a></p>
    <h3 id="describe">Describe your product</h3>
    <p>Describe your product and style it inline. You can even add images, quotes, code blocks, or embed videos and even media players!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a4aa9964e42a671b63b13c/file-1sW3Al0NzD.gif" %></figure>
    <p>We create a unique URL for every product by default. If you'd like a more memorable URL for your customers, you can enter it here:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/636e126cfd962f4d057bacee/file-TV9ScvRJen.gif" %></figure>
    <p>Read <a href="60-adding-a-cover-image.html">this article</a> if you need help setting up a cover image or thumbnail for your product.</p>
    <br>
    <p>To embed a music player (such as Soundcloud) into the description of your product, copy the share URL for your audio:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65e0c921eeacc5315bb8660f/file-T11xe1yQ22.gif" %></figure>
    <p>Then navigate to your product’s Edit page, click on the Video embed icon, and paste the url. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65e0c933eeacc5315bb86610/file-uYzz1k2Qh4.gif" %></figure>
    <h3 id="additional-info">Provide additional product info</h3>
    <p>You can choose the “Call to action” that you prefer, but it’s currently not possible to set a custom call to action.</p>
    <p>You can also add a summary and additional details for the product that will show up below the call to action on the product page.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/628c9ba28bf21a2e2b6d6e14/file-Jie1ar5f6p.png" %></figure>
    <h3 id="integrations">Integrations</h3>
    <p>Connect your product with external services like <a href="https://circle.so/">Circle</a> or <a href="https://discord.com/">Discord</a> to automatically invite customers to them. Learn more about that <a href="295-external-integration.html">here</a>. </p>
    <h3 id="content">Add content to your product</h3>
    <p>Go to your product’s “Content” tab and start typing!</p>
    <p>You can add files, stamped PDFs, code blocks, embed videos with custom thumbnails (for download or streaming only), and more—right from the editor!</p>
    <h3 id="Pages-lNmGh">Pages</h3>
    <p>Pages allow you to structure and organize your content into easily digestible categories. You can create pages for different types of content; for example: introductory instructions, downloads, audio/video, terms/refund policy, etc.</p>
    <p>To create a page:</p>
    <ol>
      <li>Click the “Create page” icon in the editor toolbar</li>
      <li>Give your page a name in the left-hand column</li>
      <li>Click “Add another page” to repeat the process</li>
    </ol>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/652e99fc74982009a94e7470/file-tqi2mQGRLO.png" %></figure>
    <p>You can delete or rename pages by clicking the three dots beside the page name, or reorder them by dragging the six-dots icon on the left.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6544644fc062684cb88d51e1/file-0KiA8vzFPJ.gif" %></figure>
    <p>Your customers will see the product just as you see it in the editor, both on a browser and our <a href="177-the-gumroad-dashboard-app.html" target="_self">mobile app</a> as well!</p>
    <p>It’s always a good habit to keep saving those changes intermittently.</p>
    <h3 id="Embed-emails-into-your-product-sX3L4">Embed emails into your product</h3>
    <p>If there are <a href="169-how-to-send-an-update.html" target="_self">emails</a> that you want to ensure all customers can view, you can embed them directly into your Content page.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65e0c9976ba1d916ec467121/file-cC3DxmmW8Q.gif" %></figure>
    <h3 id="Group-files-to-create-folders-kEinr">Group files to create folders</h3>
    <p>Creating folders is as easy as dragging your files together into a stack. You can give your folder a name, reorder the files within, or drag files out to move them out or add them to another folder.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/654464d347c2cc43ca283cd3/file-vBC1icRBJ9.gif" %></figure>
    <h3 id="Track-clicks-on-your-URLs-B4Mtb">Track clicks on your URLs</h3>
    <div data-html-block>
      <p>If you control any URL(s) mentioned in your content, you can track/listen to clicks on them with the <code>__sale_info__</code> query parameter.</p>
      <p>Append your links with <code>__sale_info__</code> to capture sales parameters like <code>sale_id</code>, <code>product_id</code>, and <code>product_permalink</code> on the respective download page. </p>
      <p>For example, a link like <code>https://example.com?__sale_info__</code> will be replaced with <code> https://example.com?sale_id=PURCHASE_ID_HERE&amp;product_id=PRODUCT_ID_HERE&amp;product_permalink=PERMALINK_HERE</code> on the download page. </p>
    </div>
    <h3 id="versions">Versions</h3>
    <p>Versions can help you sell different sets of content, software access levels, or optional added services within the same product at different price points. Read <a href="126-setting-up-versions-on-a-digital-product.html" target="_self">this article</a> to know all about setting up versions.</p>
    <h3 id="test-publish">Publish your product</h3>
    <p>You can <a href="101-designing-your-product-page.html" target="_self">customize your product’s checkout</a> flow and see it from your customer’s point of view with <a href="62-testing-a-purchase.html" target="_self">a test purchase</a>. </p>
    <p>Once you're happy with everything, click Publish at the top of the page and add it to a profile section to ensure customers can access it from your Profile page.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/654465538b2e41385d8b0f70/file-phHlnRWIfJ.jpg" %></figure>
    <p>You can also add profile sections like posts, subscribe, rich text, and even other products on your product page. Check out <a href="124-your-gumroad-profile-page.html#Create-product-categories-LYEcj" target="_self">this article</a> to learn more about profile sections.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="128-discount-codes.html"><span>Discount codes</span></a></li>
      <li><a href="126-setting-up-versions-on-a-digital-product.html"><span>Setting up versions on a digital product</span></a></li>
      <li><a href="60-adding-a-cover-image.html"><span>Adding cover and thumbnail images</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
    </ul>
  </div>
</div>
