<% @description = "In this article: Create an email Audience and channel selection Preview Save and publish Comments on emails Leaving a comment Deleting comments Get notification" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article:</p>
    <ul>
      <li><a href="#Create-a-Post-bBla9">Create an email</a></li>
      <li><a href="#Audience-and-channel-selection--nhXI" target="_self">Audience and channel selection</a></li>
      <li><a href="#Preview-JaHrr">Preview</a></li>
      <li><a href="#Save-and-Publish-nYVCk">Save and publish</a></li>
      <li><a href="#comments">Comments on emails</a>
        <ul>
          <li><a href="#Leaving-a-Comment-o8OJ9">Leaving a comment</a></li>
          <li><a href="#Deleting-Comments-0XVVc">Deleting comments</a></li>
          <li><a href="#Get-Notifications-for-comments-jssyX">Get notifications for comments</a></li>
        </ul>
      </li>
      <li><a href="#Subscriber-information-NrcBY" target="_self">Subscriber information</a></li>
    </ul>
    <div class="callout-red">
      <p><b>Note</b>: You cannot send emails until you have $100 in total earnings and received a payout. This limitation is in place to prevent spam and protect Gumroad's email reputation. </p>
    </div>
    <p>To create an email:</p>
    <ol>
      <li>Click the New email button on the top right corner of the <a href="https://app.gumroad.com/posts" target="_blank">Emails dashboard</a>.</li>
      <li>Give your email a title and draft the message in the text box. You can use the menu buttons on the top of the email editor to format your text, add bullet points, a horizontal bar, hyperlinks, images, or buttons!</li>
    </ol>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/QeVce9YW4Lr8IvCWuRJ8XihB50IzNPc07nAZeuE-Er-JK4TD2mJtTZyP1cYwywhc2f95OEwC5Mf3RMaj1QXynTd3iaAvCpQcvleriZ0lII09icaAGapWL9P2zmS75NIJ-HnQqtgX6ZbEKjL-2x1VSm8" %></figure>
    <p>To add a Call To Action (CTA) button in your email, click on the Arrow icon on the menu bar, give a text for your button and the button URL, and press "Insert button". This will add a button in your email’s body. You can add multiple buttons in your email at different positions, and even drag and change the position of a button after creating it!</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/AEYg-woTtcOdXOG4GFRzXZLy-_FCXI99aX7TLdTD0_VfUeDuYfnVRB4fxqzSnqdON8CX9niq3DShPQx5JT1ZTflzMxDbbhjr3bDFdobsSfhgthHC9V-uL8oueMae-gKA2aBxGS2By-ipDtTGWGrYo_M" %></figure>
    <h3>Audience and channel selection</h3>
    <p>On the left, you can select your audience. You can send your email to your subscribers, customers, affiliates, or to everyone! </p>
    <br>
    <p><b>Note</b>: These selections will only appear once you have customers (or followers, affiliates, etc.).</p>
    <p>When sending an email to your followers, you can narrow down your audience by products purchased, not purchased, and date range. This allows you to target a specific group of subscribers, such as those who are new or those who have never bought your products. </p>
    <br>
    <p>Refine your email audience by selecting customers who bought a specific product, paid a certain amount, or joined within a specific date range. You can also filter by location, <a href="126-setting-up-versions-on-a-digital-product.html">versions</a>, or <a href="82-membership-products.html#Tiers">tiers</a>. </p>
    <br>
    <p>Want to automatically send an email to your affiliates right after they sign up? Select your audience as "Affiliates only" and then specify affiliates of which product (or all products). Write your email, and schedule it to go hours or days after someone successfully becomes your affiliate.</p>
    <br>
    <p>Once you’ve narrowed down your audience, you’ll choose your channel. You can choose to send it as an email and/or to create a post on your Gumroad profile.</p>
    <h3>Preview</h3>
    <p>Before hitting that "Send" button, it's probably a good idea to see for yourself what the email will look like to your audience in their mailbox. </p>
    <br>
    <p>Based on the channels that you have selected for your email, you will be able to preview it as an email and as a profile post by clicking the "Preview" button on the top of the page. </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/dZPA6gTlzh6yrxD3RpmSSyJsu7UwFgDoe8VvPDjN1C4nBXuRZrRAcYugQ_S7NwB-wOtfdeHwpSheqLlFTVBnpZQxWiJfNjcbt_hL4kBvm0q0VonRAoEcrYA8H9JeDFccZP6QhS74SIRxhli8ry75jqM" %></figure>
    <h3>Save and Publish</h3>
    <p>If you wish to save the progress on your email and finish it later, just hit the Save button to send it to your <a href="https://app.gumroad.com/posts#draft" target="_blank">Drafts</a> section, until you publish or delete it. Drafts are sorted from the most recently updated email to the older ones. When you’re happy with your email, hit the Send/Publish button in the upper-right corner.</p>
    <br>
    <p>You can either choose to publish now, or schedule your email to be published on a future date.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/YXmtcRi7aCjGmfGRB5UiI3x9G3aP2MQEA4thxE3QUu4ZarJpbqdWPSsuMajCQgODpoqMseborLoic8fVdtRWDFAs1UmY-XK1YpwOP4CsPRyNjp_UWc86-Rd99yFry7WQdemPrSxPoTNJ6ks83ngPgHY" %></figure>
    <p>If you want new followers or customers to be sent an email that was published before they had signed up for your updates, just go to the <a href="https://app.gumroad.com/customers" target="_blank">Sales dashboard</a>, select their purchase, and send them any emails they’ve missed.</p>
    <h3>Comments on emails</h3>
    <p>Comments allow you to make your customers feel more involved, and to gather quick feedback on your content.</p>
    <br>
    <p>Comments are now turned on by default, but you can uncheck the setting to disable it.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/I4jN1FrlA35sQ0DHZoHezfalM2npdbGV1gd40ovJDegHNn8wI5Is9_2Z5ljAcg73WUNoSama8nFk23hq8kWfku__wx0a9a0G1CaU1dnxnASWwPKvrr7nJMpJjAhDBLAdGZ8DyUy53cixK--d27QAS3g" %></figure>
    <h3>Leaving a Comment</h3>
    <p>Once the post is live, comments can be added with one click as well:</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/7TUepvNdHRFEe9v-SiAe5KrdO-CThYEywRH5svE1xlcUgyY874rYTv2sPM8csVav1djTPVZQe3YzvbHxYR3P6XK6R8n8BP1EMr8LlVoy6nc7Ft64CHgXjvNzB6SXrLt4tzjZa1lkn5YiTLoKtRPMpmk" %></figure>
    <p>Comments can be made by:</p>
    <ol>
      <li>The email’s author</li>
      <li>Purchaser of the email’s belonging product</li>
      <li>Any user who can view the email</li>
    </ol>
    <h3>Deleting Comments</h3>
    <p>Comments can be deleted by both the commenter and the email’s author, so you will be able to moderate comments on your own emails. Please note that deleting a comment (or a reply) also deletes all replies received for that comment.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/rBeFylSlE5TXpiWBp2WCM271le1voeN20cJz7IuBOuDxOL_aidxF_FcaLDsxj_JAQ3bTDuNf059s5fiYCx5L2Rdclk6TlJdcuteuY-VpRZVE--3ftw6Xzo7nDsEr7MlmNOcP6Eaale1qcT_wpidnM6g" %></figure>
    <h3>Get Notifications for comments</h3>
    <p>If you have enabled notifications for “Comments” in your settings, you’ll receive an email for each comment on your emails.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/mGwhoBqxVlmj3AQCc5q3Z2DsUMRUJoRJOxtqUKSb7Dx05J6IcTExCEMgAjOK9-ESXYETmKjE7XHScOwOLA_K-sXeOn_bIFKaOZ_lSZ9nZzlxvkWQeVumgkSqjNTZxzxH6UYZ9zoM3HZkJo2J_IbFWbk" %></figure>
    <p>Don’t want to receive comment notifications anymore? Just toggle it off and save changes.</p>
    <h3>Subscriber information</h3>
    <p>Click on the "Subscribers" tab in the Emails Dashboard to see the email IDs of all your subscribers and the date they subscribed to you. The list is sorted in descending order of the date the follower got added. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6618ed174db6eb7a51d936b7/file-y6ITCL0UxP.png" %></figure>
    <p>If you wish to delete a follower, simply click their name, and click "Remove Follower" </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/nq9UJ854b9Ne90bXa3LShTbxmGTIWtBwlQ9PgWlAPptwMhn2oOoTBIuyf-Q5k3zT9XZzPK5fZZG7Ek0ZmNnHK67GCAG2bfSXiE0NKEM1jTdnew-5xTtRK0zjYv8NlQiIbcscjz0iD0A4gqhUSwxl7JA" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="131-using-workflows-to-send-automated-updates.html"><span>Send automated emails with Workflows</span></a></li>
      <li><a href="54-not-receiving-updates.html"><span>Customers not receiving emails</span></a></li>
    </ul>
  </div>
</div>
