<% @description = "In this article: Accepted payment options Gift cards and prepaid cards Is Gumroad safe? Do I need to have a Gumroad account to buy products? Profile vs Product " %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Accepted-payment-options-x9uvN">Accepted payment options</a>
        <ul>
          <li><a href="#Gift-cards-and-prepaid-cards-hv092">Gift cards and prepaid cards</a></li>
        </ul>
      </li>
      <li><a href="#Is-Gumroad-safe-O5Yiz">Is Gumroad safe?</a></li>
      <li><a href="#Do-I-need-to-have-a-Gumroad-account-to-buy-products-OMrrT">Do I need to have a Gumroad account to buy products?</a></li>
      <li><a href="#Profile-vs-Product-pages-zeBIy">Profile vs Product pages</a></li>
      <li><a href="#Highlighted-membership-liDWG">Highlighted membership</a></li>
      <li><a href="#Understanding-the-payment-form-QE_NR">Understanding the payment form</a></li>
      <li><a href="#Common-errors-LcSR-">Common errors</a></li>
      <li><a href="#Discount-codes-kWjHa">Discount codes</a></li>
      <li><a href="#After-a-successful-purchase-u3mhl">After a successful purchase</a></li>
      <li><a href="#Your-purchase-is-complete-FnqWf">Your purchase is complete</a></li>
    </ul>
    <hr role="separator">
    <h3 id="Accepted-payment-options-x9uvN">Accepted payment options</h3>
    <p>By accepting the majority of credit cards and PayPal, we make things as easy as possible for you and the Gumroad creators you are supporting.</p>
    <table>
      <tbody>
        <tr>
          <th>Things you can pay with</th>
          <th>Things you cannot pay with</th>
        </tr>
        <tr>
          <td>VISA (including VISA Electron)</td>
          <td>Bitcoin/Cryptocurrency</td>
        </tr>
        <tr>
          <td>Mastercard</td>
          <td>Check or money order</td>
        </tr>
        <tr>
          <td>AMEX</td>
          <td>Stripe</td>
        </tr>
        <tr>
          <td>Discover</td>
          <td>State secrets</td>
        </tr>
        <tr>
          <td>Maestro</td>
          <td>Spanish bullion</td>
        </tr>
        <tr>
          <td>Diner's Club</td>
          <td>Chuck E. Cheese tokens</td>
        </tr>
        <tr>
          <td>PayPal</td>
          <td>Star Wars collectibles</td>
        </tr>
        <tr>
          <td>Apple and Google Pay</td>
          <td>Social clout</td>
        </tr>
        <tr>
          <td>Most debit cards*</td>
          <td>Tall tales</td>
        </tr>
      </tbody>
    </table>
    <p>*<em>Banks typically have strict rules regarding online purchases with debit cards, since debit cards do not offer chargeback protection. If you plan on using a debit card, please verify with your bank before you make your purchase that they allow online transactions.</em></p>
    <h3 id="Gift-cards-and-prepaid-cards-hv092">Gift cards and prepaid cards</h3>
    <p>We do accept prepaid and gift cards, however, because these cards are often used for fraud, the card companies that back them often do not recognize or have not yet authorized Gumroad to process their cards, and thus may prevent us from charging the card.</p>
    <h3 id="Is-Gumroad-safe-O5Yiz">Is Gumroad safe?</h3>
    <p>Yes.</p>
    <p>Our payment is secured by SSL with 128-bit encryption and processed with PCI Compliant service providers. Find out more <a href="189-safe-gumroad-buying.html" target="_self">here</a>.</p>
    <h3 id="Do-I-need-to-have-a-Gumroad-account-to-buy-products-OMrrT">Do I need to have a Gumroad account to buy products?</h3>
    <p>Nope, no account needed! Just pay for the product, and you're all set. We’ll email you a receipt with a link to your content.</p>
    <p>Want to create an account later to access your files anytime? You can do that <a href="http://gumroad.com">here</a>.</p>
    <h3 id="Profile-vs-Product-pages-zeBIy">Profile vs Product pages</h3>
    <p>Do you see multiple products, a creator's description of themselves, and a profile picture? This means you're on a Gumroad creator's profile page:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61e1967db54d116b7c397751/file-QxvNfuUmhE.gif" %></figure>
    <p>To buy products from a profile page, simply click the desired products and you will get a more detailed description of the product, and maybe multiple options to choose from.</p>
    <p>The example below features a <a href="278-guide-to-memberships.html" target="_self">membership product</a> where you can get content from a creator regularly (in this example, by paying monthly).</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61e19c431adf855680c79df3/file-mF15pFWzQq.gif" %></figure>
    <p>Like what you see? Click the "Buy" (one-time payment) or "Subscribe" (recurring subscription) button!</p>
    <h3 id="Highlighted-membership-liDWG">Highlighted membership</h3>
    <p>Creators sometimes highlight a Membership they are offering. You can see this by clicking the “Membership” button, next to the “Products” button:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61e19c431adf855680c79df3/file-mF15pFWzQq.gif" %></figure>
    <h3 id="Understanding-the-payment-form-QE_NR">Understanding the payment form</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7a26dd48f7f58ce212b5d/file-UVXvJFYsg4.png" %></figure>
    <ol>
      <li><strong>Email address:</strong> This is where you will receive a receipt, invoice, and download link for the product you buy.</li>
      <li><strong>Give as a gift:</strong> See the toggle here? You can click this to send this product to a friend. This will send the receipt to you, but the product to your friend. <a href="213-how-do-i-give-a-product-as-a-gift.html" target="_self">Read more here</a>. Keep in mind that you currently cannot gift memberships.</li>
      <li><b>Discount code:*</b> You may not see this box if it's not turned on for this product. A discount code is a discount that the creator of this product may or may not have advertised. If you know of one to enter, enter it into the discount code box. Wait for a maximum of 3 seconds to see the price change.</li>
      <li><b>Mailed to:*</b> If the product you are looking at is displaying this field, you need to enter your shipping address. If your country does not have ZIP Codes (and most don't) simply enter your Postal Code.</li>
      <li><strong>Card Number:</strong> This is what it's all been building up to: Entering those sweet, sweet credit card digits. Depending on the policies of your credit card provider, you may be asked for more information to ensure that your purchase is not fraudulent.</li>
      <li><strong>Business VAT ID</strong>*: You can also enter a valid VAT or ABN ID if you're in the EU / UK or Australia to get the VAT refunded. You will also be able to refund the VAT through the link in your receipt. If our system detects your IP address to be outside of the EU / UK you will not see this on your checkout form and you will not be able to refund the VAT to yourself, because you will not have paid any VAT.</li>
    </ol>
    <p>*<em>You may or may not see this field, depending on what kind of product it is, where you are or how the creator set it up.</em></p>
    <h3 id="Common-errors-LcSR-">Common errors</h3>
    <p>If you do not fill in all the fields of your payment form, they will appear highlighted, and prohibit you from proceeding. However, there may be something else amiss.</p>
    <p>For more information, <a href="203-why-did-my-payment-fail.html" target="_self">see this article</a>. Briefly, though, you may be blocked for one of the following reasons:</p>
    <ol>
      <li><strong>CVC Code:</strong> If you enter the wrong CVC code, your payment will not process. Make sure all your credit card details are correct before clicking "pay."</li>
      <li><b>Zip code verification:</b> You may find a pop-up window asking you for your "zip code." When this happens, your credit card provider is communicating with our processing engine, asking us to verify that you are the person using this card. If you don't live in the United States, enter your Postal Code without any spaces. For example, ”<em>BH13 6BD”</em> should be entered as ”<em>BH136BD”</em>.</li>
      <li><strong>Provider policies:</strong> If you don't receive a specific error message, your credit card provider may be blocking your purchase from finalizing. Usually, a quick call to them will solve this. Just ask them to "whitelist" Gumroad.com, and attempt your purchase again.</li>
    </ol>
    <h3 id="Discount-codes-kWjHa">Discount codes</h3>
    <p>To reiterate, at the checkout screen, you may see a box appear where you can enter a discount code. If you are aware of a discount code that this creator has advertised, enter that now and <em>wait a maximum of 3 seconds for the price to change</em>.</p>
    <h3 id="After-a-successful-purchase-u3mhl">After a successful purchase</h3>
    <p>You will see a success message and your receipt will be emailed to you.</p>
    <p>Double-check the email address here. Is there a typo? Then copy the wrong email address and <a href="196-contact-gumroad.html" target="_self">let us know</a> the misspelled email and to which email address the product should be sent. If you don't know the misspelled email address, don't worry. We have other ways of finding your purchase, and we will be happy to fix it for you.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/64b7a354a9d61472afe08fc3/file-ZiXZZKDuYd.png" %></figure>
    <h3 id="Your-purchase-is-complete-FnqWf">Your purchase is complete</h3>
    <p>After you've bought a product on Gumroad, you can enter a password to <a href="https://app.gumroad.com/signup">sign up</a> for a Gumroad account. Why would you do this? To take advantage of the <a href="https://app.gumroad.com/library">Gumroad Library</a>. The Library allows you to access your product at any time by logging into Gumroad. If you are buying a membership, you have to create a Gumroad account at the time of purchase.</p>
    <p>From your Gumroad receipt, you can also easily repurchase a product, download the product, or open it in our <a href="/help/../help.gumroad.com/article/177-the-gumroad-dashboard-app.html" target="_self">iOS or Android app</a>.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="189-safe-gumroad-buying.html"><span>Safe buying on Gumroad</span></a></li>
      <li><a href="199-how-do-i-access-my-purchase.html"><span>How do I access my purchase?</span></a></li>
      <li><a href="203-why-did-my-payment-fail.html"><span>Why did my payment fail?</span></a></li>
      <li><a href="192-how-do-i-cancel-my-membership.html"><span>How do I cancel my membership?</span></a></li>
    </ul>
  </div>
</div>
