<% @description = "In this article: Access your purchase content Generate an invoice Unsubscribe from emails Cancel memberships Contact the creator Access your purchased content A" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><span>In this article:</span></p>
    <ul>
      <li><a href="#Access-your-purchased-content-iWEPo" target="_self">Access your purchase content</a></li>
      <li><a href="#Generate-an-invoice-TSJNg" target="_self">Generate an invoice</a></li>
      <li><a href="#Unsubscribe-from-emails-Hqq3f" target="_self">Unsubscribe from emails</a></li>
      <li><a href="#Cancel-memberships-ZWaRM" target="_self">Cancel memberships</a></li>
      <li><a href="#Contact-the-creator-vTVO9" target="_self">Contact the creator</a></li>
    </ul>
    <h3 id="Access-your-purchased-content-iWEPo">Access your purchased content</h3>
    <p>After checkout, you will receive your receipt with a link that takes you to your purchased content. Simply click “View Content” and enter your purchase email when prompted to access your purchase.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/FHb86lW9MQbbGuZgOKzmkPZxVBDVLcx0gg19VUotuOfD8PIYXDuvE4-KcEyolt7DCPcvoi6PHGaXGxD0sVWB96RxzC7fnu4df5eDqdZEu-BRzw0gXkpcooQvKdvQaOdGWHPP23JQidJZqfdrRxW3H_4" %></figure>
    <h3 id="Generate-an-invoice-TSJNg">Generate an invoice</h3>
    <p>You can <a href="194-i-need-an-invoice.html">print your own invoice</a> by clicking the Generate link at the bottom of your receipt. If you need to customize your invoice, you can use the ‘Additional Notes’ field to add any relevant information. We are not able to customize invoices beyond that for you. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65f8b3d254e485464f3dce9a/file-PEyzfH7eK6.png" %></figure>
    <h3 id="Unsubscribe-from-emails-Hqq3f">Unsubscribe from emails</h3>
    <p>If you no longer would like to receive email updates from a seller, you can unsubscribe from future emails by clicking “Unsubscribe” at the bottom of your receipt.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65f8b3af909e484dba21070d/file-qx9PGuwNcF.png" %></figure>
    <h3 id="Cancel-memberships-ZWaRM">Cancel memberships</h3>
    <p>You can cancel a subscription to your latest membership charge by going to the receipt and click "Subscription settings" or "Manage membership":</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65abf141f1393916b8ea1a82/file-ZS8K5JJi6x.png" %></figure>
    <h3 id="Contact-the-creator-vTVO9">Contact the creator</h3>
    <p>If you have problems with your purchase, you can find the seller's contact information on your receipt for issues such as refunds or general questions about the product.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/exdm8jeuisUXyAWl2V3WKnVu1hHWBeeVhQRt-0WAXDrPu1bHcMs6mVv-iP-zZ1LvEcStCEyQTBYtk0Poh7An6JMbCg5gXg0nmpKm8vw-r2cj5AtUlteSySm5pyu22HBQwjQ85GXq8_Pesu8AVvF7zOE" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="190-how-do-i-get-a-refund.html"><span>How do I get a refund?</span></a></li>
      <li><a href="193-my-purchase-isnt-downloading.html"><span>My purchase isn't downloading</span></a></li>
      <li><a href="194-i-need-an-invoice.html"><span>I need an invoice</span></a></li>
      <li><a href="200-i-need-a-vat-refund.html"><span>I need a VAT refund</span></a></li>
      <li><a href="195-theres-an-issue-with-my-purchase.html"><span>There's an issue with my purchase</span></a></li>
      <li><a href="212-i-never-received-a-receipt.html"><span>I never received a receipt</span></a></li>
      <li><a href="215-when-will-my-purchase-be-shipped.html"><span>When will my purchase be shipped?</span></a></li>
    </ul>
  </div>
</div>
