<% @description = "In this article: Navigating the Payouts dashboard PayPal payouts Credits Bank withdrawals Understanding the payout period Account under review Navigating the Pa" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#navigating">Navigating the Payouts dashboard</a></li>
      <li><a href="#paypal">PayPal payouts</a></li>
      <li><a href="#credits">Credits</a></li>
      <li><a href="#Bank-withdrawals-U1p-o" target="_self">Bank withdrawals</a></li>
      <li><a href="#payout-period">Understanding the payout period</a></li>
      <li><a href="#under-review">Account under review</a></li>
    </ul>
    <h3 id="navigating">Navigating the Payouts dashboard</h3>
    <p>The payouts dashboard lists each payout displaying the sale date range, total sales, applicable deductions, and net payout amount.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62da3b2f86b3a9744246f981/file-dP1hZvXOwZ.png" %></figure>
    <p>You can export a CSV of each payout after it has been paid. Click the download button next to the payout period and the CSV will be sent via email. Multiple payout reports can now be downloaded from the top-right download button.</p>
    <figure><%= image_tag "help_center/export-multiple-payouts.png" %></figure>
    <p><b>Note</b>: There might be a slight mismatch in the sales amounts for the same period on your <a href="https://app.gumroad.com/payouts">Payouts page</a> vs. the <a href="https://app.gumroad.com/dashboard/sales">Analytics page</a>. That is because the payouts page is synced to UTC (Coordinated Universal Time) while the rest of your dashboard is synced to your account's time zone as per <a href="https://app.gumroad.com/settings/">your settings</a>. </p>
    <h3 id="paypal">PayPal payouts</h3>
    <p>If you have <a href="275-paypal-connect.html">connected your PayPal account</a> from the <a href="https://app.gumroad.com/settings/payments">payment settings</a>, the net sale amount immediately goes to your PayPal account. Locate the sale in your PayPal with the buyer's email.</p>
    <p>This amount is shown next to the “PayPal Payouts” header in the payout table and is subtracted from your total sales because it has already been paid out.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61f1b40a8200bc052eb82d61/file-xSxed1MgIJ.png" %></figure>
    <h3 id="credits">Credits</h3>
    <p>Credits are one-off financial adjustments made to your balance. Depending on the type of adjustment, the credit amount may be positive or negative. They are mostly issued in the following cases:</p>
    <ul>
      <li>Winning a chargeback: When you win a <a href="134-how-does-gumroad-handle-chargebacks.html">chargeback</a>, the withheld amount is returned to your balance in the form of a credit.</li>
      <li>VAT refunds: If you have a <a href="330-stripe-connect.html">Stripe</a> or <a href="275-paypal-connect.html">PayPal</a> account connected to Gumroad and a VAT refund is issued on a connected account’s sale, a part of the VAT refund gets deducted from your connected account. We issue a credit to fully compensate you for that charge.</li>
      <li>Backtaxes collection: If you have opted-in to Australian backtaxes collection, the tax will be collected as a negative credit from your balance.</li>
    </ul>
    <p>Credits are not paid separately but are included as part of your <a href="13-getting-paid.html#schedule">weekly payouts</a>.</p>
    <h3 id="Bank-withdrawals-U1p-o">Bank withdrawals</h3>
    <p>Our payment processor may debit your bank account if your Gumroad balance goes negative (due to refunds or chargebacks). If the withdrawal is successful, the amount is added back to your balance as a credit.</p>
    <h3 id="payout-period">Understanding the payout period</h3>
    <p>Each payout you receive is for sales made up to the previous Friday. In other words, when you make a sale, the net amount has to sit in your balance for at least 7 days.</p>
    <p>For example, if a payday lands on Friday the 14th, you will be paid that day for all sales made up to midnight of Friday the 7th. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6260e1386c886c75aabe8dd4/file-2RvnwJQNOe.png" %></figure>
    <p>On Friday the 14th, you would not be paid out for any sales made after midnight of Friday the 7th, UTC. Those sales (from the 7th - 14th) are allocated to the payout that would take place on Friday the 21st. </p>
    <h3 id="under-review">Account under review</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61f1acccd86136157d99ddcb/file-jFO5dj7Bvk.png" %></figure>
    <p>If you have recently started selling, or you have been notified about irregularities on your account, you will see that your account is under review. For a thorough explanation of reviews, please see <a href="13-getting-paid.html#RiskReview">our article about getting paid.</a></p>
    <p>You will see your payout date after your account has been reviewed.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="13-getting-paid.html"><span>Getting paid by Gumroad</span></a></li>
      <li><a href="66-gumroads-fees.html"><span>Gumroad's fees</span></a></li>
      <li><a href="275-paypal-connect.html"><span>Adding PayPal to checkout</span></a></li>
      <li><a href="260-your-payout-settings-page.html"><span>Filling out payout settings</span></a></li>
      <li><a href="10-dealing-with-vat.html"><span>EU &amp; UK VAT on Gumroad</span></a></li>
      <li><a href="121-sales-tax-on-gumroad.html"><span>Sales tax on Gumroad</span></a></li>
      <li><a href="281-payout-delays.html"><span>Payout delays</span></a></li>
    </ul>
  </div>
</div>
