<% @description = "In this article: Your Affiliates - How does it work? Adding a new affiliate Method 1: Adding affiliates manually Method 2: Let affiliates sign up on their own E" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Your-Affiliates---How-does-it-work" target="_self">Your Affiliates - How does it work?</a>
        <ul>
          <li><a href="#Adding-a-new-affiliate" target="_self">Adding a new affiliate</a></li>
          <li><a href="#Method-1-Adding-affiliates-manually" target="_self">Method 1: Adding affiliates manually</a></li>
          <li><a href="#Method-2-Let-affiliates-sign-up-on-their-own" target="_self">Method 2: Let affiliates sign up on their own</a></li>
          <li><a href="#Editing" target="_self">Editing</a></li>
          <li><a href="#Adding-offer-codes" target="_self">Adding offer codes</a></li>
          <li><a href="#Tracking-affiliate-sales" target="_self">Tracking affiliate sales</a></li>
          <li><a href="#Send-a-post-to-your-affiliates" target="_self">Send a post to your affiliates</a></li>
        </ul>
      </li>
      <li><a href="#Gumroad-Affiliates" target="_self">Gumroad Affiliates</a>
        <ul>
          <li><a href="#Generating-Gumroad-Affiliate-links" target="_self">Generating Gumroad Affiliate links</a></li>
          <li><a href="#Opting-out-of-Gumroad-Affiliates" target="_self">Opting out of Gumroad Affiliates</a></li>
        </ul>
      </li>
      <li><a href="#The-affiliate-experience">The affiliate experience</a></li>
      <li><a href="#Memberships">Memberships</a></li>
      <li><a href="#Does-your-Affiliate-claim-their-link-doesnt-work">Does your Affiliate claim their link doesn't work?</a>
        <ul>
          <li><a href="#Why-was-an-affiliate-not-credited-for-a-sale">Why was an affiliate not credited for a sale?</a></li>
        </ul>
      </li>
      <li><a href="#Order-of-Affiliate-Sales">Order of Affiliate Sales</a></li>
      <li><a href="#Can-the-affiliate-links-be-shortenedpersonalized">Can the affiliate links be shortened/personalized or combined with discount codes?</a></li>
      <li><a href="#Refunds">Refunds</a></li>
      <li><a href="#Fees-and-getting-paid">Fees and getting paid</a></li>
      <li><a href="#Tax-implications">Tax implications</a></li>
    </ul>
    <hr role="separator"><br>
    <p>We offer two options to expand your sales funnel by getting affiliates involved: </p>
    <p>Your Affiliates, approved by you, with a customizable rate. </p>
    <p>Gumroad Affiliates (formerly Global Affiliates) - anyone can choose to be an affiliate and spread the word about your products! They get a fixed 10% fee as a reward. </p>
    <p>Both of these affiliate programs are optional. You can remove Your Affiliates or opt out of Gumroad Affiliates anytime. </p>
    <h3 id="Your-Affiliates---How-does-it-work"><span>Your Affiliates - How does it work?</span></h3>
    <p>In brief:</p>
    <ol>
      <li>Your affiliates create a Gumroad account (to get paid!). </li>
      <li>You add them as an affiliate to your product(s). </li>
      <li>They are sent an affiliate link that looks something like this:<a href="https://www.gumroad.com/a/1234567"> www.gumroad.com/a/1234567</a></li>
      <li>Note the "/a/" in it. That signifies that this is an affiliate link. They share that link with the world. </li>
      <li>When a customer clicks that link, their browser is "cookied" for 30 days. If they buy the products that your affiliate is assigned within 30 days, your affiliate is credited with the sale. We take our fee, and you and your affiliate split the remainder. </li>
      <li>After 7 days, your affiliate can be paid out for that sale. The same <a href="13-getting-paid.html"> payout rules</a> apply!</li>
    </ol>
    <p>To get started, go to your <a href="https://app.gumroad.com/affiliates">Affiliates Dashboard</a>. You can find the link at the bottom left of your dashboard. Click the arrow next to your username, then click Affiliates</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdb98RI4F0VScrX8SURh3SaT-OYpepncrreGJa6K-iaUpHzO0BmfuJ1z_HW669GBQLUOY2JQox1x5KaM3Fllykw_D2vlY4mzHzmiwGWYAPdpFTQrvw77uduVMJMSbg4vRDwM4HuDOQOEgIR_jI0uyNT1uMc?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <h3 id="Adding-a-new-affiliate"><span>Adding a new affiliate</span></h3>
    <p>You can either add an affiliate manually or let them sign up through an affiliate sign-up form.</p>
    <h3 id="Method-1-Adding-affiliates-manually"><span>Method 1: Adding affiliates manually</span></h3>
    <p>Click <a href="https://app.gumroad.com/affiliates/new"> Add affiliate</a>.</p>
    <p>Enter the email address associated with your affiliate’s Gumroad account. Affiliates must have Gumroad accounts for payout purposes. If you’d like to add an affiliate who isn’t on Gumroad, just ask them to<a href="https://app.gumroad.com/signup"> create an account</a> before adding them. </p>
    <p>Also, if they have any questions, you can link them to <a href="249-affiliate-faq.html"> this page</a>.</p>
    <h4><span>Why can't I add an affiliate?</span></h4>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdt79oonZ9jrC3EisnX-nLSla1sS-5FJQ-jR69_J7w9ZfIRKNUu5adUeprGml3JcMY9S2K5JfomZiJr3RcfEAmXzxf8kgmXN0oA8X1GKbyjrQGdJRJOzhgFuameKwPap46VGPQEhO0V-wAT36XRNgvaG8w?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>If you see this error message when trying to add an affiliate, it means they have either not created a Gumroad account yet or they have not confirmed the email address on their account.</p>
    <p>Make sure they have: </p>
    <ol>
      <li>Created an account and are logging in with the email address they have provided you.</li>
      <li>Confirmed their account’s email address. They can resend themselves a confirmation link from the<a href="https://app.gumroad.com/settings/"> settings page</a>.</li>
    </ol>
    <p>You may also see an error when attempting to add an affiliate that is already affiliated with another product. You can’t add multiple affiliates for the same email address; you will have to edit the existing affiliate record and enable that new product for them. You also cannot have a collaborator and an affiliate on the same product at the same time.</p>
    <h4><span>Give them a product to sell!</span></h4>
    <p>You can select one or more products you’d like your affiliate to sell. Click on “All products” if you want an affiliate to sell all of them.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdm9_Bi4i8eCaFCMZ5HPjOarxq6VdO3fyxNTVVaaG5r5PHj3pClM-fIt93pKgvtXzH_s1TUOW2-N4N-2WCFpXsG3dHBFelEtJ8A_jl09Yv0xB8vfq3WcF3HtCdoQH_d50xJ4d-QLyNBfwuloaoVJTJ6UJns?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>Choose the commission percentage you’d like to offer your affiliate. You can set a commission between 1% and 75%. This commission is the percentage of the total sale amount (including sales tax and shipping) your affiliate will earn in exchange for referring customers. You can edit the percentage, or the products, at any time. </p>
    <p>You also have the option of specifying a Destination URL. You might do this if, for example, you wanted customers to go through a specific sales funnel you've built. Or you want them to land on your website before winding up at the purchase form. </p>
    <p>If you want to specify different Destination URLs for different products or groups of products (for example, if you’ve created multiple custom landing pages for different products), you can do so by editing the existing affiliate record and enabling the new Destination URL.</p>
    <p>If you leave this field blank, the unique link your affiliate receives will redirect to the Gumroad product page to which the affiliate has been assigned. </p>
    <p>If you have added multiple products to the affiliate, their unique link will go to your Gumroad profile page, where customers can buy any of the products that you've displayed. Your affiliate will also receive unique affiliate links for each individual product, in case they want to share specific products at different times or in different places.</p>
    <p>Finally, click "Add affiliate". We’ll send them a unique link to share via their email. </p>
    <p>Once your affiliate starts sharing their unique link, we’ll set a cookie for customers when they visit the link. As long as a customer purchases your product within 30 days of visiting the affiliate’s link, the affiliate will get credit for the sale.</p>
    <h3 id="Method-2-Let-affiliates-sign-up-on-their-own"><span>Method 2: Let affiliates sign up on their own</span></h3>
    <p>To allow people to request to be your affiliate, first go to <a href="https://app.gumroad.com/affiliate_requests/onboarding_form"> your Affiliate Signup Form</a>. </p>
    <p>The “Affiliate link” section gives you a link that allows anyone to request to become your affiliate.</p>
    <p>The “Affiliate products” section allows you to automatically assign new affiliates to any of your published products with a base commission.</p>
    <p>Now, when you share your signup form, affiliates who sign up and are approved will be automatically assigned the product(s) selected. </p>
    <p>From the link that you share, they can fill out with information about their sales strategy in order to help you decide whether or not they'd be a good fit for you.</p>
    <p>When someone signs up on your form, you can then approve them through the affiliate dashboard. You can also ignore them if their sales pitch isn't what you're looking for. </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdr5GGNcyTv_RYWZcy5cYT-8xFRYwCIDmWJZYKvcQ-j_tOwMpeiB7Vz2Sp2IrtHg1UAOCt-ue-aiBR9Sdv1VkzuEIWIwSMLGwOhGMvLRlIaxI0AIw8L978Tm1V_DAbdDNRrWCH2kS9hjsrrZgpDxSeiMtX0?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>When someone signs up on your form, you can then approve them through the affiliate dashboard. You can also ignore them if their sales pitch isn't what you're looking for. </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXcE7ndpOPmaRFaUaakTK_uld5t7CMPtBL53_uLwsUlFvosPIX2GjFGg7FhA3TSjQPOBkU0c0efmvWEK8Nlf30mYbaJ2foXYnOxj51UqLJtwld8BWg-qlUvqiZ52aBL4LZJ9oD0ZZMhV3PQfOBH51wieWkiH?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>If an affiliate can't find their URL:</p>
    <ol>
      <li>Go to the <a href="https://app.gumroad.com/affiliates"> Affiliates Dashboard</a>.</li>
      <li>Find the affiliate's entry in your list of affiliates. Next to their entry is a button that says "Copy Link"</li>
      <li>
        <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdfhCMnHGW6vx5i-KvKrQag5LKQ2FpXuf4P6KhGMHe_i69X2NywjgGyGyfZDR61NAuwaU-61lnt-fgPddAFrbcShIt6BIhgMC8s1KEank2Ta9lEXhR-nnufHJMAPrOarDngTVmXFgCWlvj_4kvqm6dDBenh?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
      </li>
      <li>Paste the link in an email/message to the affiliate. That link is their affiliate link.</li>
    </ol>
    <p>You can also tell them to log in to Gumroad and go to their <a href="https://www.gumroad.com/products/affiliated"> Affiliated Products dashboard</a> - it looks like this: </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdhECUgjBUS94fJgim4ntneEC-MtgjZ4uozaphWYE84T0qYzVtpDz2cySJFcWTI9q8eNDfVt_w-Dv0HzVqx0Wz6EyiWnmZ69YLV5ddJKaqjEX3suvctgMRC6dt8FL-7UruTqPvoF8F5FediEqSiR3Sxlblt?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>They can easily track their sales revenue and copy their links any time they need them. </p>
    <h3 id="Editing"><span>Edit affiliate</span></h3>
    <p>If you want to give your affiliate more products to sell or adjust their commission, simply click the pencil icon next to their name in your Affiliates dashboard. This will change neither their affiliate link or the commission they get for subscription sales they already made.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXeYkkkYVFfOs3qaPGTHgMwCh5CC69AtOKpkDYgdwNeEqDvngG3AnfxAr6pQBIYG0w7c0dkSbEKAyybWV7eGFKYKW_PstKEqSgq_42fqTQ-FI1Y0watRr_7k8B7GkpvAuAZH9d9ja_F_rVSSh4If23Fwg-5y?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <h3 id="Adding-offer-codes"><span>Adding offer codes</span></h3>
    <p>If you are hosting a sale and want to automatically add an offer code to an affiliate link, simply use the following formula</p>
    <ul>
      <li><span>[ AFFILIATE LINK] + ?offer_code=[OFFER CODE]</span></li>
    </ul>
    <p>For example, If your affiliate's link is https://gumroad.com/a/12345678 and the offer code you're using is "doggies" then you would add it to the end of the affiliate link like so: </p>
    <ul>
      <li><a href="https://gumroad.com/a/12345678?offer_code=doggies"><span>https://gumroad.com/a/12345678?offer_code=doggies</span></a></li>
    </ul>
    <p>The offer code will be applied to the purchase and your affiliate will be credited with the sale. </p>
    <p><span>NOTE</span> - This does NOT work if your affiliate's link redirects to another URL or directs to your profile page.</p>
    <h3 id="Tracking-affiliate-sales"><span>Tracking affiliate sales</span></h3>
    <p>To see how much volume each of your affiliates has referred, visit your <a href="https://www.gumroad.com/affiliates"> Affiliates dashboard</a>. Here, you can see a list of your active affiliates and the sales volume each of them has generated. </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXcE7SyN1SnGyP9iseI_f-TlZpzZWoOQiE2E1Eg6oC3zj1Xd31CT8yVMYd8QEoJSx3ZXaU15EFh-oP6fEuEDwxKJRDGkbat5byVzyFCnbsdSfvZkCyNSRJHB8F4w-CK0ZtYMK1oy4Fsn_BQJwGVm-aXkDpxZ?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>You can see the total affiliate commission earned by all of your affiliates during each payout period by visiting your <a href="https://app.gumroad.com/payouts"> Payouts Dashboard</a>. This affiliate commission will be subtracted from your total sales for the given payout period.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXc_nH7lamddwKOjJyXy399I_73srY3Qzu3OSTLgz9GpMHZDphcb2cPTbhwfe1KRGSK3OpV15UAQc5xAGVJR5I2wbY852jkfZSEl2T1Jhi9uWc4GguMkKGny6WEkPSo_J94_Y1Ep2xT5PaautAm86qK15nxD?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>You can also export a CSV from your <a href="https://app.gumroad.com/customers"> Audience tab</a>. In the CSV you will see a column that specifically names the affiliates responsible for your sales. More on exporting CSVs <a href="74-the-analytics-dashboard.html#sales-csv"> here</a>. </p>
    <h3 id="Send-a-post-to-your-affiliates"><span>Send a post to your affiliates</span></h3>
    <p>Want to notify your affiliates of a big sale coming up? Or thank them for their hard work? You can do that with the <a href="https://app.gumroad.com/posts#new_post"> Posts feature</a>!</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXf_TXeNFxceohuaCDQAKWn5VQhMDgoMh2Pin1MEnSg9C3xkzrQF_yXElI1YVEE1ILpAkEEFZg5m-SXSzxsgemh0NwFc48hsNuoweIrygIVMLd_Ldck_h0_iwJ2GJFIXsl9B6RLlAH_pS0971pnnMiUZByip?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>Select your audience as "Affiliates only" and then specify affiliates of which product (or all products). Write your post, and schedule it or send it immediately. Your affiliates will receive an email from us. </p>
    <h3 id="Gumroad-Affiliates"><span>Gumroad Affiliates</span></h3>
    <p>In addition to affiliating with individual creators as described above under 'Your Affiliates', users can affiliate with Gumroad directly. Instead of reaching out to each creator individually, Gumroad Affiliates can generate their own links to help creators promote their work. This is a great way of casting your net out wide and expanding your sales funnel. </p>
    <p><span>Gumroad Affiliates earn a fixed 10% commission on each sale. </span></p>
    <h3 id="Generating-Gumroad-Affiliate-links"><span>Generating Gumroad Affiliate links</span></h3>
    <p>From the <a href="https://app.gumroad.com/products/affiliated?affiliates=true"> Gumroad Affiliates dashboard</a>, anyone can generate affiliate links for <a href="http://discover.gumroad.com/"> Gumroad Discover</a>, specific products, and creator profile pages. These links, which are specific to this one’s affiliate account, will add a browser cookie when clicked and track any purchases made via this link. This cookie will only be active for 7 days. </p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXfWF_6JKykXwTIWX-SrPwIDtQdlQ1gSkK34yxos0Lwr-LblF4eEXlrk0vndGFx0iIX6UdWRTHy8A1KjuVQpH19hP59k9hN0kpbpRlJ3f0mDfwdEteghb8RdNKy9usbsEAM644EkjGG3wdMCjhcwyQigkEJD?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <h3 id="Opting-out-of-Gumroad-Affiliates"><span>Opting out of Gumroad Affiliates</span></h3>
    <p>If you do not wish to promote your products through Gumroad Affiliates, you can easily opt-out. Just go to your <a href="https://app.gumroad.com/affiliates/onboarding"> Affiliates Dashboard</a> and toggle “Opt out of the Gumroad Affiliate Program”. Make sure to click on “Save changes”. </p>
    <p>Note: this will apply to all of your products.</p>
    <figure><%= image_tag "help_center/gumroad-affiliates-opt-out.png" %></figure>
    <h3 id="The-affiliate-experience"><span>The affiliate experience</span></h3>
    <p>When you add a new affiliate, they'll receive an email letting them know they've been added as one of your affiliates. This email will include info on the commission percentage you've set and a unique affiliate link (or links, in the case of multiple products) for them to share with their following.</p>
    <p>Once sales start rolling in, affiliates will receive a sales notification email whenever a sale is made through their referral.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXcMZMnbLR_STA-OSsAXl6hOB7TGtAGXYPBSg-b5d9bG1sDS6K-Z_j8vUZdNqcvcIJSWz5m6ZT-QMCD9_ytmktMkXm5ucyMznfH9hv7eMsrVdmOQMnMMV4KCNHNfcnvGbpdSQTXhY5wahHzZuXR1T4Lo2apU?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <p>Affiliates will be paid out every other Friday, just like Gumroad creators.</p>
    <p>Are you an affiliate looking for more information on Gumroad payouts? <a href="13-getting-paid.html"> Learn more about getting paid here</a>.</p>
    <p>Affiliates can log in to their Gumroad account and visit their <a href="https://app.gumroad.com/payouts"> Payouts Dashboard</a> to see how much they've earned in commission during each payout period. If an affiliate is also a Gumroad creator, their affiliate commission will simply be added to their total sales for the payout period.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXf5bOq4980f_scX0N6qrLFjCp6CFVSFCwTnnaZ8IhzqnuB9hdR9YmgOAg14Tw-e3PxXYPGASOtB5zlSmLS9P1aPOteb556owQNFbYk87uLLvlgrJla78KLaVQoDueAXg2X6aI3vJv7dUO8IcAZKU7koPA19?key=IlXfEmf2yu_7yhYw2YKmPA" %></figure>
    <h3 id="Memberships"><span>Memberships</span></h3>
    <p>Affiliates who refer new customers to a Membership product will earn commission on all recurring revenue. In the case of a monthly membership product, for example, the affiliate’s fee will be applied every month for as long as the customer they referred is subscribed to your product. There is no way to change this behavior, unfortunately. Also, even if you change your affiliate’s rate, they will still earn the prior rate for pre-existing subscriptions.</p>
    <h3 id="Does-your-Affiliate-claim-their-link-doesnt-work"><span>Does your Affiliate claim their link doesn't work?</span></h3>
    <p>Here's a handy way for you (or your affiliate) to ensure that the link works fine:</p>
    <ol>
      <li> Click on your affiliate link — this will take you to the product/profile page of which you're an affiliate</li>
      <li> Open your browser's dev tools. If you're on Chrome, the shortcut is Command+Option+C (Mac) or Control+Shift+C (Windows, Linux, Chrome OS)</li>
      <li> Follow the steps on <a href="https://developers.google.com/web/tools/chrome-devtools/storage/cookies"> this page</a> to reach the "Cookies" pane</li>
      <li> Click on gumroad.com (of course) from the various cookie origins, and look for the cookie name starting with _gumroad_affiliate_id_You can even check when your cookie will expire in the "Expires/Max-Age" column. </li>
    </ol>
    <h3 id="Why-was-an-affiliate-not-credited-for-a-sale"><span>Why was an affiliate not credited for a sale?</span></h3>
    <ol>
      <li>The customer's web browser does not accept "cookies." Our affiliate feature can only work if a browser accepts cookies. (Unless you are using a <a href="249-affiliate-faq.html#Stickyaffiliatelinks"> sticky link</a>).</li>
      <li>The sale was refunded - when that happens your affiliate commission is refunded, as well. </li>
      <li>The customer did not buy the product within 30 days of clicking your link. Our cookies expire after 30 days. Gumroad affiliate cookies expire after 7 days.</li>
      <li>The customer clicked a different affiliate's link after they clicked yours.</li>
    </ol>
    <h3 id="Order-of-Affiliate-Sales"><span>Order of Affiliate Sales</span></h3>
    <p>When two affiliates refer a customer to the same product, the affiliate whose link was clicked on most recently will be credited with the sale. You can check this with the _gumroad_affiliate_id_ cookie, as above. Each affiliate's cookie will be present, and the one with the highest "Expires/Max-Age" value (30 days after the click) will be credited with the sale.</p>
    <h3 id="Can-the-affiliate-links-be-shortenedpersonalized"><span>Can the affiliate links be shortened/personalized or combined with discount codes?</span></h3>
    <p>Yes, affiliates can use link shorteners like bit.ly and they will get credited for the sales as expected as long as the customized link points to the affiliate URL with the /a/ in it:<a href="https://gumroad.com/a/XXXXXXXX"> https://gumroad.com/a/XXXXXXXX</a></p>
    <br>
    <p>And, yes, you can combine an affiliate link with a <a href="128-creating-offer-codes.html"> discount code</a> :</p>
    <p>https://{Your_Username}.<a href="http://gumroad.com/l/%7BYourProductID%7D/%7BYourDiscountCode%7D?affiliate_id=%7BAffiliate_ID%7D">gumroad.com/l/{YourProductID}/{YourDiscountCode}?affiliate_id={Affiliate_ID}</a></p>
    <p>The affiliate ID can be found in the affiliate link he number after the /a/.</p>
    <br>
    <h3 id="Refunds"><span>Refunds</span></h3>
    <p>If you issue a refund to a customer who purchased your product through an affiliate link, we’ll refund the full amount paid by the customer. That means that the affiliates’ commission percentage will be deducted from their Gumroad balance accordingly. From your perspective, the refund experience is the same whether or not an affiliate is involved. </p>
    <h3 id="Fees-and-getting-paid"><span>Fees and getting paid</span></h3>
    <p>Fees on affiliate purchases are split between the affiliate and the creator proportional to the affiliate's commission. For example, if an affiliate's commission is 30%, they'll be responsible for 30% of the fees on the purchase. For more details, see our <a href="66-gumroads-fees.html">fees page</a>.</p>
    <h3 id="Tax-implications"><span>Tax implications</span></h3>
    <p>Using Gumroad’s affiliate feature may make you subject to the tax laws of the affiliate’s state or country and, therefore, may impact sales of both digital and physical products across multiple platforms you use—not just sales made through Gumroad. </p>
    <p>We strongly recommend that you consult your local tax professional about the implications of using this feature. It’s ultimately up to you to collect and remit the proper sales tax amounts on all sales made through your affiliates.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="79-gumroad-discover.html"><span>Gumroad Discover</span></a></li>
      <li><a href="249-affiliate-faq.html"><span>Becoming an affiliate on Gumroad</span></a></li>
    </ul>
  </div>
</div>
