<% @description = "In this article: What are bundles? Create a bundle Adding products Variants Quantities Checkout Customer drawer What are bundles? Bundles allow creators to sell" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#What-are-bundles-eorSq" target="_self">What are bundles?</a></li>
      <li><a href="#Create-a-bundle-FBOXS" target="_self">Create a bundle</a>
        <ul>
          <li><a href="#Adding-Products-pkqH1" target="_self">Adding products</a></li>
          <li><a href="#Variants-Xw9Jf" target="_self">Variants</a></li>
          <li><a href="#Quantity-tj7Q9" target="_self">Quantities</a></li>
        </ul>
      </li>
      <li><a href="#Checkout-DUhSH" target="_self">Checkout</a></li>
      <li><a href="#Customer-drawer-Lijr-" target="_self">Customer drawer</a></li>
    </ul>
    <h3 id="What-are-bundles-eorSq">What are bundles?</h3>
    <p>Bundles allow creators to sell several of their existing products for one price. Bundles are a fantastic way to create alternative offers while fitting the needs of different customers. </p>
    <h3 id="Create-a-bundle-FBOXS">Create a bundle</h3>
    <ol>
      <li>Navigate to the <a href="https://app.gumroad.com/products">Products</a> page and click New Product.</li>
      <li>Name your bundle, then click “Bundle” from the product type list and give it a price. </li>
    </ol>
    <figure><%= image_tag "help_center/bundle.png" %></figure>
    <ol start="3">
      <li><a href="149-adding-a-product.html#describe">Add a description</a> and additional product info to your bundle like you would for an individual product.</li>
      <li>Click Save &amp; Continue</li>
    </ol>
    <h3 id="Adding-Products-pkqH1">Adding Products</h3>
    <p>Choose from a list of your previously created products to bundle together.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/Wg7_wvPHIMghz8dn08JRMZ9vrp8YjGF5zi9Ci-cgVAIZ5r3TYeHsDaUluoMHDaNrzHjtUS2SLbAz1tRnhgJ0sIFR7L8AiSU331_-ROHU8Y9fUPhLWqaPjPI4oKV5tRaMBMmLR714zNJPgMxQXkoYVNI" %></figure>
    <p>You can bundle as many of your products together as you’d like, or bundle all your products together by selecting “All products”.</p>
    <p><span>Note:</span> You cannot add a bundle to another bundle product.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/658cdbea25778b0d0faef477/file-4R7iUV4pV7.png" %></figure>
    <p>If you ever update your bundle by adding more products, you can choose to update the content for your previous customers. Just click ‘Yes, update’ on the update notice on your bundle’s Content page.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/66095e437c483540738bc0fb/file-9ktwYyzbT9.png" %></figure>
    <p>If your bundle has products with <a href="76-license-keys.html" target="_self">license keys</a> enabled, each eligible product will have its license key instead of one key for the entire bundle.</p>
    <h3 id="Variants-Xw9Jf">Variants</h3>
    <p>Some of your individual products may contain variants. When adding a product to your bundle, you can choose which variant you’d like to include by clicking “configure” on the product box. At this time, you can only include one variant of a product in a bundle. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6589a95c2e3a566b03b69fcd/file-cq0IC5ohnz.png" %></figure>
    <h3 id="Quantity-tj7Q9">Quantity</h3>
    <div> When quantity is enabled, you can set a quantity of a specific product within the bundle. Here's how to set up quantities. </div>
    <ol>
      <li>Navigate to the <a href="https://app.gumroad.com/products" target="_blank">Products</a> page and choose the product you want to activate quantities for.</li>
      <li>Scroll to the bottom of the product and toggle on "Allow customers to choose a quantity" </li>
      <li>Navigate back to the Bundle product's edit page.</li>
      <li>Now, for the specific products you've enabled Quantities, you can configure the amount by clicking Configure.</li>
      <li>Click Apply on the quantity box &amp; Save Changes in the top right.</li>
    </ol>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6589a7df25778b0d0faef350/file-Qrs0qewLCn.png" %></figure>
    <h3 id="Checkout-DUhSH">Checkout</h3>
    <p>Customers who purchase your bundle will see a list of the individual products included within. On the product page, the price will show the cumulative value of every product in the bundle crossed out with the new price shown next to it.</p>
    <p>On the checkout page, customers will once again find a list of everything they will receive inside the bundle.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6589a58bdcdba22513abb141/file-jsLiTIsQef.png" %></figure>
    <h3 id="Customer-drawer-Lijr-">Customer drawer</h3>
    <p>When viewing your customer's purchase of the bundle product on the <a href="https://app.gumroad.com/customers/">Sales page</a>, you can see information related to their purchase. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6589aee215d4597b5fb2092b/file-WhzCNPAuJK.png" %></figure>
    <p>When you click on "Manage" for a given product in a bundle, it opens a sub-drawer for that specific product where you can: </p>
    <ul>
      <li>Adjust your customers' variant</li>
      <li>Send missed posts</li>
      <li>Resend receipts</li>
      <li>etc.</li>
    </ul>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6589ad19d0cad521927aacbf/file-RoKgauJTvE.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="331-creating-upsells.html"><span>Creating an Upsell</span></a></li>
    </ul>
  </div>
</div>
