<% @description = "If you’ve worked with another creator to create a product for your audience, our Collaborators feature allows you to jointly manage the product and automaticall" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>If you’ve worked with another creator to create a product for your audience, our Collaborators feature allows you to jointly manage the product and automatically pay them a portion of every sale! </p>
    <h3>Add a collaborator</h3>
    <ol>
      <li><a href="149-adding-a-product.html" target="_self">Create your product</a> as you typically would </li>
      <li>Click Add collaborator on the <a href="http://app.gumroad.com/collaborators" target="_self">Collaborators dashboard</a></li>
      <li>You can either add them as collaborators for all products or select individual products / product bundles for which they will get a commission and how much their cut is (the maximum cut is 50%). </li>
    </ol>
    <p>Collaborators must have an account created and <a href="https://app.gumroad.com/settings/payments" target="_self">their payments settings</a> filled out before they can be invited.</p>
    <p><b>Note</b><b>:</b> Adding a collaborator to a product with affiliates will remove all its affiliates. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6604f21d6b58437311e410a4/file-dHcAqw7Ujo.png" %></figure>
    <p>If ‘Show as a co-creator’ is selected, we will display both usernames on the product page: </p>
    <p style="text-align: center;" class="align-center"><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65d6b6c96d2feb00a37ec6f3/file-wspcOzgMOQ.png" %></p>
    <h3>Pricing</h3>
    <p>Starting Aug 6, 2024, <a href="66-gumroads-fees.html" target="_self">Gumroad’s fees</a> will be split between the creator and the collaborator based on the cut %. For example, if you set the collaborator’s cut as 25%, 25% of the fee will be deducted from their share of the sale proceeds.</p>
    <p>Shipping fees for physical products collected are added entirely to the creator's share and are not split with the collaborator.</p>
    <h3>How it looks to a collaborator</h3>
    <p>From the collaborator’s side, they will receive an email notifying them they’ve been added and showing them their cut of the proceeds. </p>
    <p style="text-align: center;" class="align-center"><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65d6b6d04efad40db94fa6a0/file-qO8PVHAser.png" %></p>
    <h3>Collabs dashboard</h3>
    <p>Users can visit their <a href="https://app.gumroad.com/products/collabs">Collabs dashboard</a> to see all collaborated products, the cut for each, and the total revenue generated. They can edit products here as well.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6604f27b753f7a6540164ddf/file-ZkoP3LeIxo.png" %></figure>
    <h3>What happens after a purchase?</h3>
    <p>At the time of sale, the collaborator’s portion is added to their Gumroad balance and is paid out the same way as <a href="13-getting-paid.html">all other Gumroad creators and affiliates.</a> </p>
    <h3>Editing/Deleting a collaborator</h3>
    <p>You can edit or delete a collaborator from the collaborator dashboard. Anytime there is an update or deletion, we will send an email to the collaborator, notifying them of the changes. </p>
    <p style="text-align: center;" class="align-center"><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65d6b6e96d2feb00a37ec6f4/file-t5ewcUdxlf.png" %></p>
  </div>
</div>
