<% @description = "In this article: Creating Wishlists Viewing and editing your Wishlists Sharing Wishlists Gifting from wishlists Follow wishlists Wishlists are a great way for y" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Creating-wishlists-0uTkD" target="_self">Creating Wishlists</a></li>
      <li><a href="#Viewing-and-editing-your-wishlists-OZv6t" target="_self">Viewing and editing your Wishlists</a></li>
      <li><a href="#Sharing-wishlists-GpWWi" target="_self">Sharing Wishlists</a></li>
      <li><a href="#Gifting-from-wishlists-VcOnu" target="_self">Gifting from wishlists</a></li>
      <li><a href="#Follow-Wishlists-q4Cq6" target="_self">Follow wishlists</a></li>
    </ul>
    <p>Wishlists are a great way for you to save products that you wish to buy at a later date. You can create multiple wishlists for different categories and even make them public to be shared. Try browsing Gumroad Discover to find products you’d like to save to your wishlist!</p>
    <h3 id="Creating-wishlists-0uTkD">Creating wishlists</h3>
    <p>You can create a wishlist by navigating to any product page that you’d like to save and clicking the “Add to wishlist” button on the right-hand column. The dropdown arrow will show both a list of previously created wishlists and the option to create a new list.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/_3AN73rz4T2cSY4c2Pabb0zhOIYEav1zYRqn9DfANgtWL6nxT5uFxuOxu6QF_DreZP4gBqyaFkF7dwd0t510MvXaihpzB1WlPiIIhHptQOXVx5_rElOHbTMDnt4yIvEUXCwnagezeFKSUQYxW3JGLa8" %></figure>
    <h3 id="Viewing-and-editing-your-wishlists-OZv6t">Viewing and editing your wishlists</h3>
    <p>Once you’ve created and added products to your wishlist, you’ll see a list of your wishlists on the <a href="https://app.gumroad.com/wishlists">Saved tab</a> of your Library. Here, you can also delete a wishlist by clicking the three dots on the right.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/666688d05940934e140f4845/file-iCisDpwP44.png" %></figure>
    <p>Clicking on the name or URL will navigate you to your publicly available Wishlist page where you can:</p>
    <ul>
      <li>Change the wishlist’s name</li>
      <li>Edit the products within the wishlist</li>
      <li>Copy a link to the wishlist to share with others</li>
      <li>“Buy this wishlist” which will take you to the cart with all available products added. If the product is unavailable, even if it is on the wishlist, it will not be added to the cart at checkout.</li>
    </ul>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6666890add0f8c60bb3fce44/file-fppK9amhAA.png" %></figure>
    <h3 id="Sharing-wishlists-GpWWi">Sharing wishlists</h3>
    <p>The link under the wishlist’s name is a shareable URL that is publicly available for others to see.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/qp4bd8HybKPxWewGl0OiZpk4E0vPCWGJtU-DvUjGJJ6NGsU8reHBaaHvqxO5BlMAWPO7mrkybKfaeq1gks0IDp--s0YbzY5qwpaLXYsfpt9acWHBD20VdpvMJX5Ymn6NoGqTyLWnLls6N0BpMmHWSsw" %></figure>
    <h3 id="Gifting-from-wishlists-VcOnu">Gifting from wishlists</h3>
    <p>If someone else is viewing your wishlist with the public URL, a "gift this product" button will appear on giftable products. This allows others to gift products to you from your wishlist.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/66668abf1f3fa9421e287be3/file-WAxUDJItSv.png" %></figure>
    <h3>How Gifting from wishlists works:</h3>
    <ul>
      <li>It must be a "giftable product," which means the product is available to purchase and not a subscription or preorder (we don't support gifting those at this time)</li>
      <li>Clicking the gift icon button will take them directly to checkout and:
        <ul>
          <li>Clear their existing cart</li>
          <li>Add just that product to the cart</li>
          <li>Prefill the gift option</li>
        </ul>
      </li>
      <li>The gift option will be prefilled with the wishlist creator’s username, but unlike normal gifting, their email will be hidden. The gift option can be toggled off and back on to gift it to someone else by email, as usual.</li>
    </ul>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/VKIKthitvh9KBaQ5ON541qLAir6Uznqp7IQh1L4qtkkKKqW2G9dd1rZ_V1gMURvG0grBU1oa9nGySQxDYW4KOAEN_WjncQAvsWdWkI6OWW7b68sVoVPhQ54l_0CT0JoAUwUqGsYMZp2ZJwU1zUgLV-Y" %></figure>
    <h3 id="Follow-Wishlists-q4Cq6">Follow Wishlists</h3>
    <p>You can follow other users' wishlists to find products you like. To do so, click the Follow Wishlist button at the top of any public wishlist.</p>
    <figure><%= image_tag "https://lh7-us.googleusercontent.com/docsz/AD_4nXdrvo7NjIMeddlKpTkoDo7vtwOkZ0qGptyL6FcYmZrscc-dvY2lAy8ArR8OaGyyXyy8OYzJWBGOc5W8s6vmaMFHMRVJJpvbl9l8w62I5D5N5I_F2Gj1wa5zPa14PuTg0tYkBO01r1AY81V0cimMzPZRRpc?key=5kY4RjzUhg12ya_fseD_Zw" %></figure>
    <p>Under the Following tab in your Library, you can find the wishlists that you have followed.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/666689da5940934e140f4846/file-U4hvpit3FD.png" %></figure>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="213-how-do-i-give-a-product-as-a-gift.html"><span>How do I give a product as a gift?</span></a></li>
    </ul>
  </div>
</div>
