<% @description = "In this article: Overlay Using custom buttons Inserting multiple buttons Send customers directly to checkout Embed FAQs While there is always the option to redi" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><strong>In this article:</strong></p>
    <ul>
      <li><a href="#overlay">Overlay</a>
        <ul>
          <li><a href="#custom-button">Using custom buttons</a></li>
          <li><a href="#multiple-buttons">Inserting multiple buttons</a></li>
          <li><a href="#direct-checkout">Send customers directly to checkout</a></li>
        </ul>
      </li>
      <li><a href="#embed">Embed</a></li>
      <li><a href="#faq">FAQs</a></li>
    </ul>
    <p>While there is always the option to redirect your customers to your Gumroad product page, creators and affiliates can also use our Overlay or Embed widgets to open the product page right on their websites.</p>
    <p>You will need the ability to edit your website’s HTML to make Overlay/Embed work.</p>
    <h3 id="overlay">Overlay</h3>
    <p>Go to your account’s <a href="https://app.gumroad.com/widgets" target="_blank">Widgets page</a>, select “Modal Overlay”, change the button text if you wish to, and click “Copy embed code”.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63535eed927a2c1634dfcde0/file-qio7Gsctoh.gif" %></figure>
    <p>Now go to your website’s HTML editor and paste this code wherever you wish to place the buy button. </p>
    <p>If you are using website builders like Squarespace, Wordpress, Webflow, Carrd, etc., and are facing trouble while placing this code, please check out their documentation or contact their support teams.</p>
    <p>Once installed, clicking the buy button will open the product page right on your website, and the customer will be redirected to Gumroad’s checkout page upon clicking the “Add to cart” button from where they can purchase multiple products at once.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/633bdd85e1c306062a1d40f9/file-2M61Ter5VJ.gif" %></figure>
    <h3 id="custom-button">Using custom buttons</h3>
    <p>You can replace the native “Buy on Gumroad” button with your custom-designed button, an image, or just plain text by removing the attribute from the <code class="inline-code">&lt;a&gt;</code> tag.</p>
    <p>Your code will then look something like this:</p>
    <pre>&lt;script src="https://gumroad.com/js/gumroad.js"&gt;&lt;/script&gt; &lt;a href="https://user.gumroad.com/l/prod1"&gt;Buy on&lt;/a&gt; </pre>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63535f04de258f5018eb6c99/file-M8djZRff4z.gif" %></figure>
    <h3 id="multiple-buttons">Inserting multiple buttons</h3>
    <p>If you wish to insert multiple overlay buttons on your website, either for the same product or different products, you only need to include the Gumroad JS script once. Inserting the <code class="inline-code">&lt;script&gt;</code> line multiple times can lead to errors.</p>
    <p>For multiple buttons, your code will look something like this:</p>
    <pre>&lt;script src="https://gumroad.com/js/gumroad.js"&gt;&lt;/script&gt; &lt;a href="https://user.gumroad.com/l/prod1"&gt;Buy on&lt;/a&gt; &lt;a href="https://user.gumroad.com/l/prod2"&gt;Buy on&lt;/a&gt; </pre>
    <h3 id="direct-checkout">Send customers directly to checkout</h3>
    <p>To send the customer directly to the checkout page upon clicking the buy button, toggle on “Auto-trigger the payment form” on the <a href="https://app.gumroad.com/widgets">Widgets page</a> before copying the code. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63535f114d805871ceaa5c46/file-lfxHWcF4eA.gif" %></figure>
    <h3 id="embed">Embed</h3>
    <p>To embed the entire product page on the website instead of having a pop-up window, click on “Embed” on your Widgets page, choose the product you wish to embed and click “Copy embed code”.</p>
    <p>Customers will be redirected to Gumroad’s checkout page upon clicking “Add to cart” and completing the purchase from there.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63535f1f8a552811521e7953/file-ubAgznN39M.gif" %></figure>
    <h3 id="faq">FAQs</h3>
    <p><strong>Q. Can I complete the checkout on my website, instead of redirecting customers to Gumroad?</strong></p>
    <p>A: Sorry, that’s not possible. The checkout page will allow us to add new features like upsells, cross-sells, retargeting using JS embedded on the product page itself, and more going ahead!</p>
    <p><strong>Q. Can I customize the look of the checkout page with CSS?</strong></p>
    <p>A: Not yet, sorry!</p>
    <p><strong>Q. Can I apply discount codes to my overlay/embed product pages?</strong></p>
    <p>A: Yes! Go to your product’s “Checkout” tab and get the discounted product’s URL by clicking the “Share” button next to the coupon’s name. Now paste this URL in your widget’s <code class="inline-code">href</code> attribute.</p>
    <p><strong>Q. Can I autofill some checkout information while sending the customer from my website to the checkout page?</strong></p>
    <p>A: Yes! Check out our <a href="270-url-parameters.html">URL parameters</a> article to see which fields you can autofill on the checkout page.</p>
  </div>
</div>
