<% @description = "In this article: Filetypes Adding cover images Recommended specifications Embed videos Selecting and using multiple files Removing cover images What customers s" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#Filetypes-gVAzN">Filetypes</a></li>
      <li><a href="#Adding-cover-images-VExHp">Adding cover images</a>
        <ul>
          <li><a href="#The-best-shapes-for-cover-images-in-pixels-eTSks" target="_self">Recommended specifications</a></li>
          <li><a href="#Embed-videos-lA3TZ">Embed videos</a></li>
          <li><a href="#Selecting-and-using-multiple-files-Wa6Mk">Selecting and using multiple files</a></li>
          <li><a href="#-Removing-cover-images-3NvAX">Removing cover images</a></li>
          <li><a href="#What-customers-see-zjqyS">What customers see</a></li>
        </ul>
      </li>
      <li><a href="#Thumbnails-Gx2jS">Thumbnails</a></li>
      <li><a href="#Known-issues-1QSCY">Known issues</a></li>
    </ul>
    <p>You can upload a cover image after adding a product file or license. Cover images can be images or videos (independent of the file you've uploaded as your product file) that advertise, help describe your product, or offer a taste of what's to come.</p>
    <p>You can upload multiple "preview" files to a product, and your customers will be able to scroll through them before purchasing.</p>
    <p>Compelling cover images (or videos) double conversion rates, contribute to your brand, and give your product its own identity.</p>
    <h3 id="Filetypes-gVAzN">Filetypes</h3>
    <p>A cover image can be a PNG, JPEG, MOV, or GIF file. You can also link to a YouTube or Vimeo video.</p>
    <h3 id="Adding-cover-images-VExHp">Adding cover images</h3>
    <p>After you have <a href="149-adding-a-product.html">created a product</a>, click 'Upload images or videos' under Cover to add the cover image/video. You can upload the file from your device or paste an external URL (like YouTube or Vimeo). You can add up to 8 covers to your product.  </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/65f2840354e485464f3dcae1/file-JjBHQhY6pB.png" %></figure>
    <h3 id="The-best-shapes-for-cover-images-in-pixels-eTSks">Recommended specifications</h3>
    <p>As a rule of thumb, if you are going to upload an image as a cover image, it should be 1280 pixels wide x 720 pixels tall <em>at least </em>72 DPI (dots per inch).</p>
    <p><b>Note: </b>We auto-adjust the height of covers on a product to match the height of the first cover. If you are uploading multiple covers, we highly recommend making them of equal height for the best look!</p>
    <h3 id="Embed-videos-lA3TZ">Embed videos</h3>
    <p>Hit 'Upload from an external website' and paste your share link. </p>
    <p>If your cover video is hosted on YouTube or Vimeo, simply find the URL or share the file link, for example:</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61c1ac9e1f8e1669701408b6/file-DRXNW3Bkzo.gif" %></figure>
    <p>After you copy the URL, paste it into the box and hit the upload button!</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61c1acb4dbfe5a232d667678/file-iKd8XbDxm1.gif" %></figure>
    <h3 id="Selecting-and-using-multiple-files-Wa6Mk">Selecting and using multiple files</h3>
    <p>You can add multiple files at once by holding down the control or command key while selecting the images/videos you would like to upload.</p>
    <p>To upload additional files, click on the box with the plus sign and it'll prompt you to choose a file or add another embeddable link.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61c1ad321f8e1669701408b8/file-Ya6XzgEHUa.gif" %></figure>
    <p>Once you have your files uploaded, simply click and drag to change the order in which they appear. Click on the file thumbnail for a larger preview of the image/video.</p>
    <h3 id="-Removing-cover-images-3NvAX"> Removing cover images</h3>
    <p>To remove a cover image, simply click the "X" at the top right of the cover thumbnail. The following image in the line will appear.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61c1ae39dbfe5a232d667681/file-h8vZAXP0W1.png" %></figure>
    <h3 id="What-customers-see-zjqyS">What customers see</h3>
    <p>When customers land on your product's page, they will see the image you selected to show first. White circles at the bottom of your cover image and arrows on the side of the image will indicate that there are other cover images to check out.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/62447057c1688a6d26a7b46a/file-cF05ZzZhoJ.gif" %></figure>
    <h3 id="Thumbnails-Gx2jS">Thumbnails</h3>
    <p>Thumbnails are entirely separate from your cover images; you do not need to use them. If you choose to add one, your thumbnail will show up in customers' libraries, Gumroad Discover, and on your profile page. Make these images, as the page shows, at least 600 x 600 pixels. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61c1ad791f8e1669701408bb/file-CgPwHg3cqr.png" %></figure>
    <h3 id="Known-issues-1QSCY">Known issues</h3>
    <ul>
      <li>If the filename of the image/video file contains one of these characters: #, $, _, +, &amp;, ;, :, %, please rename your cover image to something simple like "hello.png" and try uploading it again.</li>
      <li>You cannot upload a PDF as a cover image.</li>
      <li>You can use free image-editing software like <a href="https://www.canva.com/">Canva</a> or <a href="https://www.gimp.org/">Gimp</a> to generate thumbnails &amp; covers in the correct sizes.</li>
    </ul>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="101-designing-your-product-page.html"><span>Checkout customization</span></a></li>
      <li><a href="81-custom-product-urls.html"><span>Custom product URLs</span></a></li>
    </ul>
  </div>
</div>
