<% @description = "In this article:  Settings User Details Notifications Support Email Language and Time Zone Currency Sales Tax Profile name Payments Password Advanced Settings S" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p>In this article: </p>
    <ul>
      <li><a href="#Settings-qq1SF">Settings</a></li>
      <li><a href="#User-details-1a67i">User Details</a></li>
      <li><a href="#Notifications-dS5Mx">Notifications</a></li>
      <li><a href="#Support-email-t50Tg">Support Email</a></li>
      <li><a href="#Language-and-time-zone-W9FkS">Language and Time Zone</a></li>
      <li><a href="#Currency-JsGGs">Currency</a></li>
      <li><a href="#Sales-tax-V0G0j">Sales Tax</a></li>
      <li><a href="#Profile-name-s88b_" target="_self">Profile name</a></li>
      <li><a href="#Payments-ZHWcf">Payments</a></li>
      <li><a href="#Password-VTvsF">Password</a></li>
      <li><a href="#Advanced-ZUAgD">Advanced Settings</a></li>
    </ul>
    <h3 id="Settings-qq1SF">Settings</h3>
    <p>To make sure any changes you make to your <a href="http://www.gumroad.com/settings">settings</a> are permanent, always remember to click the <b>"Update Settings"</b> button at the top of the screen.</p>
    <h3 id="User-details-1a67i">User details</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63f4a18dfd897d5b05cdadef/file-zqFmweIbsb.png" %></figure>
    <p>The email address you provide here is used for logging in to Gumroad and receiving notifications and receipts for any purchases you make on the platform.</p>
    <h3 id="Notifications-dS5Mx">Notifications</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/624434b3c1688a6d26a7b276/file-BTFPH32xOJ.png" %></figure>
    <p>You can customize the notifications you wish to receive via email or push notifications through the <a href="177-the-gumroad-dashboard-app.html">Gumroad Dashboard app</a>. Don't want to receive email notifications for every $0 purchase? No problem, toggle off notifications for "Free downloads!"</p>
    <h3 id="Support-email-t50Tg">Support email</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61fcc196025ca67522c77d6e/file-qQ70DDEm1v.png" %></figure>
    <p>Your <strong>support email</strong> is the email address displayed on your customers' receipts. If left blank, your customers’ replies will go to the email provided in the "User details" section above.</p>
    <h3 id="Language-and-time-zone-W9FkS">Time zone</h3>
    <figure><%= image_tag "help_center/time-zone-settings.png" %></figure>
    <p>The <b>time zone</b> you select will also affect your <a href="74-the-analytics-dashboard.html">sales and following dashboards</a>.</p>
    <h3 id="Currency-JsGGs">Currency</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a0b4992b380503dfe08a67/file-0peVVR85Ep.png" %></figure>
    <p>The <b>"Sell in..."</b> menu lets you choose the default currency for your products, but it's purely aesthetic. Gumroad charges customers in USD at the current exchange rate during purchase. </p>
    <p>If you live in Australia, Canada, New Zealand, Singapore, Taiwan, or Hong Kong, please take note that the American Dollar is the only currency on Gumroad designated with the $ symbol. All other dollar currencies have their full currency indication on products. Thus, if you want to sell a product in Australian dollars, pick A$. </p>
    <p>For more information on how we handle currencies, check out <a href="46-what-currency-does-gumroad-use.html">this article</a>. </p>
    <h3 id="Sales-tax-V0G0j">Sales tax</h3>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/61a0b4cb9ccf62287e5fa352/file-0RoOT6ouIB.png" %></figure>
    <p>If you live in the United States and know that you need to remit <a href="11-us-sales-tax-on-gumroad.html">sales tax</a> in certain states, then choose those states here.</p>
    <h3 id="Profile-name-s88b_">Profile name</h3>
    <p>You can change your Gumroad profile name on the <a href="https://app.gumroad.com/settings/profile">Profile tab of the Settings</a> page. </p>
    <figure><%= image_tag "help_center/change-username.png" %></figure>
    <h3 id="Payments-ZHWcf">Payments</h3>
    <p style="text-align: center;"><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63f5cdd0b7da6b15a7ea1976/file-k2im2k5Zhs.png" %></p>
    <p>Your <a href="http://www.gumroad.com/settings/payments">payments page</a> allows you to <a href="13-getting-paid.html">get paid</a> for the products you sell on Gumroad.</p>
    <p>You can read more about the payouts settings page <a href="260-your-payout-settings-page.html">here</a>.</p>
    <p>If you live in a country where PayPal Connect is enabled, you can connect your PayPal account below the Payout method. This allows customers to pay <a href="275-paypal-connect.html">using PayPal</a>. </p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/63f5ce450064af3c7159e101/file-DCTjr26h7W.png" %></figure>
    <h3 id="Password-VTvsF">Password</h3>
    <figure><%= image_tag "help_center/change-password.png", width: 624, height: 288 %></figure>
    <p>If you ever need to change your password, you can do that <a href="https://gumroad.com/settings/password">here</a>. </p>
    <h3 id="Advanced-ZUAgD">Advanced</h3>
    <p>Your advanced settings allow you to: </p>
    <ol>
      <li><a href="153-setting-up-a-custom-domain.html">Connect a custom domain</a>.</li>
      <li><a href="329-customer-moderation.html">Mass block customer emails</a>.</li>
      <li>Use Gumroad's <a href="https://gumroad.com/ping">Ping service</a> to help automate specific post-sale tasks. </li>
      <li>Create an application to tap into Gumroad's <a href="http://www.gumroad.com/api">API</a>.</li>
    </ol>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="124-your-gumroad-profile-page.html"><span>Build a website on Gumroad</span></a></li>
      <li><a href="37-how-to-delete-your-gumroad-account.html"><span>Deleting a Gumroad account</span></a></li>
      <li><a href="292-account-login-security.html"><span>Account login security</span></a></li>
      <li><a href="326-teams-and-roles.html"><span>Teams and Roles</span></a></li>
    </ul>
  </div>
</div>
