<% @description = "In this article: Coffee Restrictions If your account is 30 days old and you’ve received at least one payout from us, you can sell services on Gumroad! We curren" %>
<div class="scoped-tailwind-preflight help-center-article">
  <div>
    <p><b>In this article:</b></p>
    <ul>
      <li><a href="#commission" target="_self">Commission</a></li>
      <li><a href="#call" target="_self">Call</a></li>
      <li><a href="#Coffee-RJr6f" target="_self">Coffee</a></li>
      <li><a href="#Restrictions-48CS_">Restrictions</a></li>
    </ul>
    <p>If your account is 30 days old, you can offer services like scheduled calls and commissioned work, and also accept tips on Gumroad!</p>
    <p>Go to your <a href="https://app.gumroad.com/products/" target="_self">Products dashboard</a>, click New product, and select a service product to begin.</p>
    <figure><%= image_tag "help_center/new-product.png" %></figure>
    <p>We also recommend reading <a href="149-adding-a-product.html" target="_self">this article</a> as creating a service-type product is similar to creating a digital product.</p>
    <h3 id="commission">Commission</h3>
    <p>Commissions allow you to sell unique tailored work or services to your customers. We collect 50% of the total amount from the customer as the up-front deposit, and the remaining half after the project’s completion.</p>
    <p><strong>Note: </strong>The 50% deposit will not be added to your balance or paid out until the commission is completed.</p>
    <p>You can ask the customer to upload any instructions or files required for your project by using input fields in the Content tab.</p>
    <figure><%= image_tag "help_center/commission-content.png" %></figure>
    <p>The customers' inputs will be available in the Order information section of their drawer in the <a href="https://app.gumroad.com/customers/" target="_self">Sales dashboard</a>. You can also refund the customer’s deposit if you wish to reject their commission.</p>
    <p>Once you have completed the commission, open the customer’s drawer, upload the files, and mark the project completed. We will send an email to the customer informing them about the completion.</p>
    <figure><%= image_tag "help_center/commission-sales.png" %></figure>
    <p>After the commission is completed, we will charge the customer the remaining 50% of the total amount and credit the earnings to your Gumroad balance.</p>
    <h3 id="call">Call</h3>
    <p>The Call product features built-in scheduling, allowing you to offer seamless one-on-one sessions with your customers. </p>
    <p>After giving your product a cover, description, and base price, choose the durations you want to offer the calls for and any additional amount for each duration.</p>
    <p>Set your availability by selecting dates and times, and customize booking parameters such as minimum notice periods and daily call limits to optimize your schedule.</p>
    <figure><%= image_tag "help_center/call-edit.png" %></figure>
    <p>In the content tab, customize your call experience with input fields to gather essential information from customers. You can also add any content or files, just as you would with a traditional digital product!</p>
    <figure><%= image_tag "help_center/call-content.png" %></figure>
    <p>Input provided by the customers will be saved in the customer’s drawer on your Sales dashboard. While we don’t integrate with platforms like Google Meet or Zoom yet, you can create a call and save the link in the Call link field.</p>
    <figure><%= image_tag "help_center/call-sales.png" %></figure>
    <p>We will send you and the customer a reminder email 24 hours before the call with the call information and link (if applicable).</p>
    <h3 id="Coffee-RJr6f">Coffee</h3>
    <p>Give your Coffee product page a header and a short message for your supporters.</p>
    <figure><%= image_tag "https://d33v4339jhl8k0.cloudfront.net/docs/assets/5c4657ad2c7d3a66e32d763f/images/6694a2d3e1989867dceff3a9/file-xt3NQVSfKe.png" %></figure>
    <p>You can only have one Coffee-type product with its URL set to [username].gumroad.com/coffee. While you cannot change this URL, you can set up a <a href="153-setting-up-a-custom-domain.html" target="_self">custom domain for this product</a> if you wish.</p>
    <p>Along with the default suggested amount, you can enable two additional amounts. Your supporters will also have the option to tip any other amount of their choice. Unlike selling a digital product, you cannot add content to a Coffee product.</p>
    <p>Select your preferred call to action from Donate, Support, or Tip. Finally, save and publish your product to start getting some coffee!</p>
    <p>When you receive a tip, it will show in your Sales dashboard like a regular sale, and your supporters will also receive a receipt in their email inbox.</p>
    <h3 id="Restrictions-48CS_">Restrictions</h3>
    <p>Services are handled differently than digital products because they are much riskier financially. Services often experience high chargeback rates and can also put us into legal gray areas where we are responsible for something we have no control over. Due to such reasons, you cannot sell the following types of services on Gumroad:</p>
    <ul>
      <li>Installation or tech support services. Your customer pays you on Gumroad, and you install or manage software for them remotely.</li>
      <li>Fixing someone's roof, redesigning their website, or any other kind of in-person or prolonged service contract.</li>
    </ul>
    <p>If you’re found selling such services, we will be forced to close your account and refund any existing balance in your account.</p>
  </div>
  <div>
    <h3>Related Articles</h3>
    <ul>
      <li><a href="155-things-you-cant-sell-on-gumroad.html"><span>Things not allowed on Gumroad</span></a></li>
      <li><a href="149-adding-a-product.html"><span>Adding a product</span></a></li>
      <li><a href="160-suspension.html"><span>Account suspension FAQ</span></a></li>
    </ul>
  </div>
</div>
