<div class="header">
  <%= image_tag("email/gumroad_day_2024.png") %>
</div>

<div style="background-color: #f4f4f0">
  <h2>You saved <%= @fee_saved_amount %> in fees on Gumroad Day!</h2>

  <p>Thanks for being a part of #GumroadDay2024!</p>

  <p>As a reminder, April 4, 2024 was Gumroad's 13th birthday and we celebrated by <b>lowering Gumroad fees to 0% flat</b>, saving you a total of <%= @fee_saved_amount %> in Gumroad fees.</p>

  <p>See you next year!</p>

  <p>Best, <br />Sahil and the Gumroad team</p>

  <p>PS. View the #GumroadDay2024 hashtag on <%= link_to "Twitter", "https://twitter.com/hashtag/GumroadDay2024/" %> and <%= link_to "Instagram", "https://www.instagram.com/explore/tags/gumroadday2024/" %> for inspiration for next year.</p>
</div>
