<%
  def nav_link(text, path, options = {})
    is_current = current_page?(path) || options[:current_page_predicate]&.call
    if options[:category] == "button"
      link_to text, path, class: "flex w-full items-center justify-center h-full px-6 #{
        if text == 'Dashboard'
          'lg:bg-black lg:text-white lg:hover:bg-pink dark:lg:bg-pink dark:lg:text-black dark:lg:hover:bg-white'
        elsif options[:context] != 'primary'
          'lg:border-l-black lg:bg-white lg:text-black lg:hover:bg-pink dark:lg:border-l-white/[.35] dark:lg:bg-black dark:lg:text-white'
        else
          'lg:bg-black lg:text-white lg:hover:bg-pink'
        end
      } border-black bg-black text-lg text-white no-underline transition-colors duration-200 hover:bg-pink hover:text-black lg:w-auto lg:border-l lg:px-6 #{
        if options[:context] == 'primary' && text != 'Dashboard'
          'dark:lg:bg-pink dark:lg:text-black dark:lg:hover:bg-white'
        else
          'dark:lg:hover:bg-white dark:lg:hover:text-black'
        end
      }"
    else
      link_to text, path, class: "flex w-full items-center justify-center border #{
        is_current ? 'border-black' : 'border-transparent'
      } #{
        is_current ? 'lg:bg-black lg:text-white dark:lg:bg-white dark:lg:text-black' : 'lg:bg-transparent lg:text-black dark:lg:text-white'
      } bg-black p-4 text-lg text-white no-underline transition-all duration-200 hover:border-black lg:w-auto lg:rounded-full lg:py-2 lg:px-4 dark:text-white lg:dark:hover:border-white/[.35]"
    end
  end

  def logo_link(options = {})
    link_to "/", class: options[:class] do
      image_tag "logo.svg",
        loading: "lazy",
        alt: "",
        class: "#{options[:image_class]} dark:invert"
    end
  end

  def toggle_button
    content_tag :div, class: "flex items-center lg:hidden" do
      content_tag :button,
        class: "relative flex h-8 w-8 flex-col items-center justify-center focus:outline-none",
        data: { toggle: "mobile-menu" } do
          content_tag(:div, "",
            class: "mb-1 h-0.5 w-8 origin-center bg-black transition-transform duration-200 dark:bg-white",
            data: { menu_line: "1" }
          ) +
          content_tag(:div, "",
            class: "mt-1 h-0.5 w-8 origin-center bg-black transition-transform duration-200 dark:bg-white",
            data: { menu_line: "2" }
          )
      end
    end
  end

  def nav_links
    content_tag :div, class: "flex flex-col justify-center items-center lg:flex-row lg:gap-1 lg:px-6" do
      nav_link("Discover", discover_path) +
      (can_see_gumroad_blog?(logged_in_user) ? nav_link("Blog", gumroad_blog_root_path, {current_page_predicate: -> { request.path.start_with?(gumroad_blog_root_path) }}) : "") +
      nav_link("Pricing", pricing_path) +
      nav_link("Features", features_path) +
      nav_link("About", about_path, {current_page_predicate: -> { current_page?(root_path) }})
    end
  end

  def auth_links
    content_tag :div, class: "flex flex-col lg:flex-row lg:h-full" do
      if signed_in?
        nav_link("Dashboard", dashboard_url(host: DOMAIN), category: "button", context: "primary")
      else
        nav_link("Log in", new_user_session_path, category: "button") +
        nav_link("Start selling", new_user_registration_path, category: "button", context: "primary")
      end
    end
  end
%>

<div class="justify-between bg-white border-b border-black top-0 left-0 right-0 z-50 pr-4 pl-4 h-20 sticky flex lg:pl-8 lg:pr-0 dark:bg-black dark:border-b-white/[.35]">
  <div class="flex items-center">
    <%= logo_link(class: "flex items-center", image_class: "h-8") %>

    <%= link_to "https://github.com/antiwork/gumroad", target: "_blank", rel: "noopener noreferrer", class: "ml-3 flex items-center gap-1.5 rounded-full p-1.5 border border-black no-underline dark:border-white/[.35] hover:bg-gray-100 dark:hover:bg-gray-700 text-black dark:text-white hover:-translate-x-[2px] hover:-translate-y-[2px] hover:shadow-[2px_2px_0_0_rgba(0,0,0,1)] dark:hover:shadow-[2px_2px_0_0_rgba(255,255,255,0.35)] transition-all duration-100", aria: { label: "Visit Gumroad on GitHub" }, data: { github_stars: true } do %>
      <svg width="20" height="20" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg" class="fill-current">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="currentColor"/>
      </svg>
      <div data-github-stars-count class="hidden flex items-center gap-1.5">
        <span class="text-base leading-none font-medium" data-github-stars-count-value></span>
        <%= image_tag "icons/solid-star.svg", class: "dark:invert", width: "18", height: "18" %>
      </div>
      <div data-github-stars-arrow class="flex items-center gap-1.5">
        <span class="text-base leading-none font-medium">GitHub</span>
        <%= image_tag "icons/arrow-diagonal-up-right.svg", class: "dark:invert", width: "14", height: "14" %>
      </div>
    <% end %>
  </div>

  <div class="override hidden lg:flex lg:items-center">
    <%= nav_links %>
    <%= auth_links %>
  </div>

  <%= toggle_button %>
</div>
<div class="override hidden justify-between border-b border-black flex-col top-20 left-0 right-0 z-50 sticky bg-black dark:border-white/[.35]" id="mobile-menu">
  <%= nav_links %>
  <%= auth_links %>
</div>
