<div>
  <img src="<%= @inviter.avatar_url %>" class="user-avatar header-badge" style="width: 3em;">
  <h2 style="text-align: center;"><%= @subject %></h2>
</div>

<% product_affiliates = @collaborator.product_affiliates %>

<div class="squished">
  <h3>What is a collaborator?</h3>
  <p>A collaborator is someone who has contributed to the creation of a product and therefore earns a percentage of its sales.</p>

  <%= render("affiliate_mailer/collaborator/table", product_affiliates: product_affiliates) %>

  <% truncated_count = [product_affiliates.count - @max_products, 0].max %>
  <% if truncated_count > 0 %>
    <p>And <%= pluralize(truncated_count, "more product") %>...</p>
  <% end %>
</div>


<div>
  <%= link_to "Respond to this invitation", collaborators_incomings_url, class: "button accent" %>
</div>
