<%= header_section(@subject) %>
<div>
  <% if @purchase.is_free_trial_purchase? %>
    <p>A creator just made a sale thanks to you! The purchase price was <%= @purchase_price_formatted %>. If the subscriber continues with their subscription after their free trial has expired on <%= @free_trial_end_date %>, we will update your balance to reflect your <%= @affiliate_percentage_text %> commission net of fees (<%= @affiliate_amount_formatted %>). <%= @recurring_commission_text %></p>
  <% else %>
    <p>A creator just made a sale thanks to you! The purchase price was <%= @purchase_price_formatted %>. We've updated your balance to reflect your <%= @affiliate_percentage_text %> commission net of fees (<%= @affiliate_amount_formatted %>). <%= @recurring_commission_text %></p>
  <% end %>
  <p>Thanks for being a part of the team.</p>
</div>
