<%= header_section(@subject) %>
<div>
  <p>
    You are now able to share <%= @product_name %> with your audience. For every sale you make, you will get <%= @affiliate_percentage_text %> of the total sale as your commission.
  </p>
  <h3>How do you share products with your audience?</h3>
  <p>
    You can direct them to this link:
    <%= link_to @affiliate_referral_url, @affiliate_referral_url, clicktracking: "off" %>
  </p>
  <%= render("notify_affiliate_footer") %>
</div>
