<div class="card js-admin-user" data-user-id="<%= user.id %>">
  <div class="paragraphs">
    <div style="display: flex; gap: var(--spacer-4); align-items: center">
      <%= image_tag(user.avatar_url, class: "user-avatar", style: "width: var(--form-element-height)", alt: user.name) %>
      <div style="display: grid; gap: var(--spacer-2)">
        <h2>
          <% if is_affiliate_user %>
            <%= link_to_unless_current(h(user_name(user)), admin_affiliate_url(user)) %>
          <% else %>
            <%= link_to_unless_current(h(user_name(user)), admin_user_url(user)) %>
          <% end %>
        </h2>
        <ul class="inline">
          <li><%= format_datetime_with_relative_tooltip(user.created_at) %></li>
          <% if user.username.present? %>
            <li><%= link_to user.username, user.subdomain_with_protocol, target: "_blank" %></li>
          <% end %>
          <% if user.form_email.present? %>
            <li>
              Email:
              <%= mail_to(user.form_email) %>
              <%= blocked_email_tooltip(user.form_email) %>
            </li>
          <% end %>
          <% if user.support_email.present? %>
            <li>
              Support email:
              <%= mail_to(user.support_email) %>
            </li>
          <% end %>
          <% if user.payments.any? %>
            <li><%= link_to("Payouts", admin_user_payouts_path(user)) %></li>
          <% end %>
        </ul>
        <%= react_component "AdminUserStats", props: { user_id: user.id }, prerender: true %>
      </div>
    </div>
  </div>

  <hr>
  <div class="button-group">
    <% can_impersonate = policy([:admin, :impersonators, user]).create? %>
    <% if can_impersonate %>
      <%= link_to "Become", admin_impersonate_path(user_identifier: user.external_id), class: "button small" %>
    <% else %>
      <%= with_tooltip(tip: "User is either deleted, or a team member.") do %>
        <%= link_to "Become", "#", class: "button small", disabled: true %>
      <% end %>
    <% end %>
    <%= admin_action label: (user.verified? ? "Unverify" : "Verify"), url: verify_admin_user_path(user), confirm_message: "Are you sure you want to (un)verify user #{user.id}?", done: user.verified? ? "Verify" : "Unverify", success_message: user.verified? ? "Unverified." : "Verified." %>

    <% if user.deleted? %>
      <%= admin_action label: "Undelete", url: enable_admin_user_path(user), confirm_message: "Are you sure you want to undelete the account of user #{user.id}?", done: "Undeleted.", success_message: "Undeleted" %>
    <% end %>

    <%= admin_action label: "Reset password", url: reset_password_admin_user_path(user), confirm_message: "Are you sure you want to reset the password of user #{user.id}?", loading: "Resetting...", done: "Password reset.", show_message_in_alert: true %>
    <%= admin_action label: "Confirm email", url: confirm_email_admin_user_path(user), confirm_message: "Are you sure you want to confirm the email address for #{user.id}?", success_message: "Confirmed email.", done: "Confirmed email." %>
    <%= admin_action label: "Sign out from all active sessions", url: invalidate_active_sessions_admin_user_path(user), confirm_message: "Are you sure you want to sign out user #{user.id} from all active sessions?", loading: "Signing out from all active sessions...", success_message: "Signed out from all active sessions", done: "Signed out from all active sessions" %>
  </div>

  <%= render("admin/users/user_memberships", user: user) %>

  <%= render("admin/users/user_permission_risk", user: user) %>

  <%= render("admin/users/user_permission_payouts", user: user) %>

  <hr>
  <details>
    <summary>
      <h3>Change email</h3>
    </summary>
    <%= react_component "AdminChangeEmailForm", props: { user_id: user.id, current_email: user.email } %>
  </details>

  <hr>
  <details>
    <summary>
      <h3>Add credits</h3>
    </summary>
    <%= react_component "AdminAddCreditForm", props: { user_id: user.id }, prerender: true %>
  </details>

  <hr>
  <details>
    <summary>
      <h3>Mass-transfer purchases</h3>
    </summary>
    <%= react_component "AdminMassTransferPurchasesForm", props: { user_id: user.id }, prerender: true %>
  </details>

  <hr>
  <%= render("admin/comments/form", commentable: user) %>
  <%= render("admin/comments/index", commentable: user) %>

  <hr>
  <dl>
    <dt>Updated</dt>
    <dd><%= format_datetime_with_relative_tooltip(user.updated_at) %></dd>
    <dt>Deleted</dt>
    <dd><%= format_datetime_with_relative_tooltip(user.deleted_at, placeholder: icon_no) %></dd>
  </dl>
</div>
