<div class="paragraphs">
  <table>
    <thead>
      <tr>
        <th>Purchase</th>
        <th>By</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td data-label="Purchase">
            <%= link_to(purchase.formatted_display_price, admin_purchase_path(purchase)) %>
            <%= " + #{purchase.formatted_gumroad_tax_amount} VAT" if purchase.gumroad_responsible_for_tax? %>
            <%= link_to_unless_current(h(purchase.link.name), admin_link_url(purchase.link), title: purchase.link.id) %>
            <%= purchase.variants_list %>
            <%= link_to purchase.link.long_url, target: "_blank" do %>
              <span class="icon icon-arrow-up-right-square"></span>
            <% end %>
            <ul class="inline">
              <% states = [purchase.purchase_state] %>
              <% states << "(refunded)" if purchase.stripe_refunded? %>
              <% states << "(partially refunded)" if purchase.stripe_partially_refunded? %>
              <% states << "(chargeback)" if purchase.chargedback_not_reversed? %>
              <% states << "(chargeback reversed)" if purchase.chargeback_reversed? %>
              <% states << "(#{purchase.formatted_error_code})" if purchase.failed? %>
              <% states.each do |state| %>
                <li><%= state %></li>
              <% end %>
            </ul>
          </td>
          <td data-label="By">
            <%= link_to(purchase.email, admin_search_purchases_path(query: purchase.email)) %>
            <small>
              <%= format_datetime_with_relative_tooltip(purchase.created_at) %>
            </small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @purchases, views_prefix: "admin" %>
</div>
