<main>
  <%= load_pack("api") %>
  <div>
    <div class="with-sidebar">
      <%= render "public/api/shared/navigation" %>
      <article style="display: grid; gap: var(--spacer-6)">
        <div class="stack" id="api-intro">
          <div>
            <p>
              The Gumroad OAuth API is based around REST. We return JSON for every request, including
              <%= link_to("errors", api_path(anchor: "api-errors")) %>.
            </p>
          </div>
          <div>
            <div class="paragraphs">
              <p>
                To start using the API, you'll need to
                <%= link_to("register your OAuth application", settings_advanced_path(anchor: "application-form")) %>.
                Note: The
                <%= link_to("Verify License API endpoint", api_path(anchor: "licenses")) %>
                does not require an OAuth application.
              </p>
              <p>After creating an application, you'll be given a unique application id and application secret.</p>
            </div>
          </div>
        </div>

        <div class="stack" id="api-authentication">
          <div>
            <h2>Authentication</h2>
          </div>
          <div>
            <p>
              On the application page, click
              <%= link_to("Generate access token", "#", data: { helper_prompt: "How do I generate an access token?" }) %>
              to get the token you will use with the API.
            </p>
          </div>
        </div>

        <div class="stack" id="api-scopes">
          <div>
            <h2>Scopes</h2>
          </div>
          <div>
            <div class="paragraphs">
              <p>We've provided five scopes that you may request when the user authorizes your application.</p>
              <div class="api-list">
                <strong>view_profile:</strong>
                read-only access to the user's public information and products.
                <br>
                <strong>edit_products:</strong>
                read/write access to the user's products and their variants, offer codes, and custom fields.
                <br>
                <strong>view_sales:</strong>
                read access to the user's products' sales information, including sales counts. This scope is also required in order to subscribe to the user's sales.
                <br>
                <strong>mark_sales_as_shipped:</strong>
                write access to mark the user's products' sales as shipped.
                <br>
                <strong>refund_sales:</strong>
                write access to refund the user's products' sales.
              </div>
            </div>
          </div>
        </div>

        <div class="stack" id="api-resources">
          <div>
            <h2>Resources</h2>
          </div>
          <div>
            <div class="paragraphs">
              <p>
                <%= link_to("Create an OAuth application", "#", data: { helper_prompt: "How do I create an OAuth application?" }) %>
                - A getting started guide for creating an application with our API.
              </p>
              <p>
                <%= link_to("omniauth-gumroad", "http://rubygems.org/gems/omniauth-gumroad", target: :blank) %>
                - (Ruby) an OmniAuth strategy for Gumroad OAuth.
              </p>
            </div>
          </div>
        </div>

        <div class="stack" id="api-more">
          <div>
            <h2>More reading</h2>
          </div>
          <div>
            <div class="paragraphs">
              <p>If you're interested in learning more about OAuth, here are some links that might be useful:</p>
              <ul>
                <li><%= link_to("OAuth 2 spec", "http://tools.ietf.org/html/draft-ietf-oauth-v2-07", target: :blank) %></li>
                <li><%= link_to("Ruby OAuth2 library", "https://github.com/intridea/oauth2", target: :blank) %></li>
                <li><%= link_to("Python OAuth2 library", "https://github.com/dgouldin/python-oauth2", target: :blank) %></li>
                <li><%= link_to("PHP OAuth2 library", "https://github.com/adoy/PHP-OAuth2", target: :blank) %></li>
              </ul>
            </div>
          </div>
        </div>

        <%= render "public/api/shared/errors" %>

        <div class="stack" id="api-methods">
          <div>
            <h2>API Methods</h2>
          </div>
          <div>
            <p>
              Gumroad's OAuth 2.0 API lets you see information about your products, as well as you can add, edit, and delete offer codes, variants, and custom fields. Finally, you can see a user's public information and subscribe to be notified of their sales.
            </p>
          </div>
        </div>

        <% GUMROAD_API_V2_METHODS.each do |resource| %>
          <%= render "public/api/resource", resource: resource %>
        <% end %>
      </article>
    </div>
  </div>
</main>
