<div id="<%= "#{method[:type]}-#{method[:path]}" %>">
  <div class="paragraphs">
    <p role="heading" aria-level="3">
      <span class="pill primary"><%= method[:type].upcase %></span>
      <span><%= method[:path] %></span>
    </p>
    <p><%= method[:description].html_safe %></p>
    <figure class="code">
      <pre tabindex="0"><a><%= method[:is_oauth].present? ? "https://gumroad.com#{method[:path]}" : "https://api.gumroad.com/v2#{method[:path]}" %></a></pre>
    </figure>
    <% if method[:parameters_layout].present? %>
      <div class="parameters">
        <h4>Parameters:</h4>
        <%= render "public/api/parameters/#{method[:parameters_layout]}" %>
      </div>
    <% end %>
    <% if method[:curl_layout].present? %>
      <figure class="code">
        <figcaption>cURL example</figcaption>
        <pre tabindex="0"><%= render "public/api/curl/#{method[:curl_layout]}" %></pre>
      </figure>
    <% end %>
    <% if method[:response_layout].present? %>
      <figure class="code">
        <figcaption>Example response:</figcaption>
        <pre tabindex="0"><%= render "public/api/response/#{method[:response_layout]}" %></pre>
      </figure>
    <% end %>
  </div>
</div>
