<!DOCTYPE html>
<html class="admin" lang="en">
  <%= render("layouts/admin/head") %>
  <% bclass = [] %>
  <% bclass.push(@body_class) if @body_class %>
  <% bclass.push("responsive") %>
  <% bclass.push("responsive-nav") %>
  <% bclass.push("is-logged-in") %>
  <% bclass.push("is-nav-visible") %>
  <% bclass.push("sidebar-nav") %>
  <body class="<%= bclass.join(" ") %>" id="<%= @body_id %>">
    <%= render("layouts/shared/flash") %>
    <%= react_component "AdminNav", props: { title: @title, current_user: current_user_props(current_user, impersonated_user) }, prerender: true %>

    <main>
      <header>
        <h1><%= @title %></h1>
        <div class="actions">
          <%= react_component "AdminSearchPopover", props: { card_types: card_types_for_react }, prerender: true %>
        </div>
      </header>
      <%= yield %>
    </main>

    <%= javascript_include_tag "application" %>
    <%= load_pack("admin") %>
    <%= yield :script %>
  </body>
</html>
